<template>
   <q-page class="row flex-center">
    <div class="col-lg-3 col-xs-12">
        <q-header >
      <q-toolbar>
        <q-btn v-go-back.single="{name:'EmailVerification'}" flat round icon="img:https://img.icons8.com/ios/50/ffffff/back.png" />
        <q-toolbar-title class="text-center">
          Verification Code
        </q-toolbar-title>
        <q-btn flat round class="invisible" icon="wifi" />
      </q-toolbar>
    </q-header>

    <q-form
      @submit="codeVerification({code, email:auth.email})"
      @reset="reset(['code'])"
      class="full-width q-px-md"
    >
      <p class="text-grey-9">We send verification code to your email at <span class="text-bold">{{auth.email}}</span> Please check your inbox or your spam folder. After that, enter the verification code below.</p>
      <q-input
        filled
        v-model="code"
        label="Code Verification *"
        lazy-rules
        :rules="$helpers.validation('Code Verification','required')"
      />
      <div class="text-right q-mb-md">
        <q-btn @click="$router.go(-1)" label="Request new code"  unelevated size="sm" class="text-right text-grey" no-caps/>
      </div>
      <q-btn label="Verify Now" type="submit" color="primary" class="full-width" unelevated size="lg" />
    </q-form>
  </div>
  </q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { vuexSync } from 'boot/helpers'

export default {
  name: 'CodeVerification',
  data () {
    return {
      code: ''
    }
  },
  created () {
    Object.assign(this.notify, { enable: true,
      success: true,
      redirect: (status) => {
        if (status.indexOf('success') !== -1) this.$router.push({ name: 'ResetPassword' })
      } })
  },
  computed: {
    ...mapState(['auth']),
    ...vuexSync('auth', ['__status', '__message'])
  },
  methods: {
    ...mapActions({
      'codeVerification': 'auth/codeVerification',
      'reset': 'auth/reset'
    })
  }
}
</script>

<style>
</style>
