<template>
  <q-page class="row flex-center">
    <div class="col-lg-3 col-xs-12">
        <q-header >
          <q-toolbar>
            <q-btn v-go-back.single="{name:'Login'}" flat round icon="img:https://img.icons8.com/ios/50/ffffff/back.png" />
            <q-toolbar-title class="text-center">
              Complete Account
            </q-toolbar-title>
            <q-btn flat round class="invisible" icon="wifi" />
          </q-toolbar>
        </q-header>

        <q-form @submit.prevent="completeAccount(auth)" @reset="reset(['email','username','password'])" class="q-pa-md">

          <div class="q-pa-md flex column flex-center q-mb-xl">
            <q-avatar size="10em" class="q-mb-lg border">
              <q-img :src="auth.picture" />
            </q-avatar>
            <p class="subtitle1" v-if="loginWith">Login with {{loginWith}}</p>
          </div>

          <q-input filled v-model="email" label="Your email *" lazy-rules :rules="$helpers.validation('Email','required')" />

          <q-input filled v-model="username" label="Your username *" lazy-rules :rules="$helpers.validation('Username','required')" />

          <q-input label="Your password *" v-model="password" filled :type="isPwd ? 'password' : 'text'" lazy-rules :rules="$helpers.validation('Password','required')">
            <template v-slot:append>
              <q-icon :name="isPwd ? 'visibility_off' : 'visibility'" class="cursor-pointer" @click="isPwd = !isPwd" />
            </template>
          </q-input>

          <div class="text-center">
            <q-btn label="Continue" type="submit" icon-right="img:https://img.icons8.com/ios/50/ffffff/right.png" color="primary"  class="full-width q-mb-md" unelevated size="lg" />
            <q-btn label="Choose another account" color="grey" flat @click="$router.push('/login?notme=true')" no-caps />
          </div>
        </q-form>
    </div>
  </q-page>

</template>

<script>
import { mapState, mapActions } from 'vuex'
import { vuexSync } from 'boot/helpers'

export default {
  name: 'Register',
  data () {
    return {
      isPwd: true
    }
  },
  computed: {
    ...mapState(['auth']),
    ...vuexSync('auth', ['email', 'password', 'username', 'loginWith', '__message', '__status', '__error'])
  },
  created () {
    Object.assign(this.notify, { enable: true,
      success: true,
      redirect: (status) => {
        if (status.indexOf('success') !== -1) this.$router.push({ name: 'Login' })
      } })
  },
  mounted () {},
  methods: {
    ...mapActions({
      completeAccount: 'auth/completeAccount',
      reset: 'auth/reset'
    })
  }
}
</script>

<style>
</style>
