<template>
<!-- eslint-disable vue/valid-v-bind -->
<!-- eslint-disable vue/no-parsing-error -->
<q-page padding>
    <package-program :value="selectedReward" :show="showFilterReward" @close="showFilterReward=false" />
    <div v-if="__status === 'loading'" class="flex flex-center"><q-spinner size="lg"/></div>
    <div v-else class="q-pt-md">
      <div v-if="programs.data.length === 0" class="text-center">
        Belum ada Program
      </div>
      <div v-else v-for="(i,j) in programs.data" :key="j" class="q-px-md q-mb-lg">
          <q-card class="">
              <q-card-section>
                  <div class="text-h6">{{i.program_name}} </div>
                  <q-badge outline color="red" :label="`area ${i.Area.area_name}`" class="q-mr-md text-lowercase"/>
                  <q-badge outline color="orange" :label="`program ${i.program_type}`" />
                  <!-- <div class="text-right">
                    <q-btn icon="event" flat no-caps>&nbsp;&nbsp; Periode {{new Date(i.program_period_start).toLocaleString('id-ID', {month: 'short'})}} - {{ new Date(i.program_period_finish).toLocaleString('id-ID', {month: 'short', year: 'numeric'})}}</q-btn>
                  </div> -->
              </q-card-section>
              <q-separator />
              <img v-if="i.program_picture" :src="getImgUrl(`api/uploads/${i.program_picture}`)" style="height:180px;object-fit:cover;" />
              <img v-else src="" style="height:180px;object-fit:cover;" />
              <!-- <q-card-section class=""> -->
                  <!-- <q-item-label caption>Program Name</q-item-label>
                  <q-item-label class="q-mb-md">{{
                    i.program_name
                  }}</q-item-label> -->

                  <!-- <q-item-label caption>Tipe Dealer</q-item-label>
                  <q-item-label class="q-mb-md">{{
                    i.program_dealer_type === "RCD"
                      ? "Brotherhood"
                      : "Non Brotherhood"
                  }}</q-item-label> -->

                  <!-- <q-item-label caption>Reward</q-item-label>
                  <q-item-label class="q-mb-md">{{
                    i.program_type === 1 ? "Uang" : "Trip"
                  }}</q-item-label> -->

                  <!-- <q-item-label caption>Area</q-item-label>
                  <q-item-label class="q-mb-md">{{
                    i.Area && i.Area.area_name
                  }}</q-item-label> -->

                  <!-- <q-item-label caption>Periode</q-item-label>
                  <q-item-label class="q-mb-md"
                    >{{ getPeriodDate(i.program_period_start) }}-{{
                      getPeriodDate(i.program_period_finish, {
                        year: "numeric"
                      })
                    }}
                    <span class="text-grey text-xs"
                      >(semester {{ i.program_semester }})</span
                    ></q-item-label
                  >

                  <q-item-label caption>Tipe Program</q-item-label>
                  <q-item-label class="q-mb-md">{{ getGrowthType(i) }}</q-item-label>
                </q-card-section> -->

              <!-- <q-card-section>
                <div class="text-justify">{{i.program_description}}</div>
              </q-card-section> -->
              <q-separator />
              <q-card-section class="text-right">
                  <q-btn label="Cek Reward" icon-right="chevron_right" color="orange" @click="chooseReward(i)" />
              </q-card-section>
          </q-card>
      </div>
    </div>
</q-page>
</template>

<script>
import { mapState } from 'vuex'
import { vuexSync } from 'boot/helpers'
import PackageProgram from '../components/PackageProgram'

export default {
  components: {
    PackageProgram: PackageProgram
  },
  data () {
    return {
      term: false,
      selectedPackage: null,
      showFilterReward: false,
      selectedReward: {}
      // firstLoad: true,
      // tableGrid: null,
      // showFilter: false,

      // filters: '',
      // pos: {},
      // filter: {},
      // selected: []
    }
  },
  computed: {
    ...mapState(['program', 'config', 'auth']),
    ...vuexSync('program', [
      'program_name',
      'program_area',
      'program_period_start',
      'program_period_finish',
      'program_description',
      'program_term_condition',
      'program_type',
      'program_dealer_type',
      'program_semester',
      'program_reward',
      'program_target',
      'program_growth',
      'program_roa',
      'program_fid',
      'program_status',
      'program_sort',
      'programs',
      '__status',
      '__message'
    ])
  },
  created () {
    // Object.assign(this.notify, {
    //   enable: true,
    //   success: true,
    //   showLoading: false
    // })
    let search = {}
    search['program_status:integer'] = 1
    search['area_id:in'] = `5-${this.auth.area_id}`
    search['program_period_finish:month'] = 1
    search['program_dealer_type:string'] = this.auth.dealer_type
    this.request({
      pagination: {
        sortBy: 'programs.id',
        descending: 'true'
      },
      filter: search
    })
  },
  methods: {
    getGrowthType (i) {
      return i.program_growth === 2 ? 'Agresif' : 'Pesimis'
    },
    getPeriodDate (date, year) {
      return new Date(date).toLocaleString('id-ID', {
        month: 'short',
        ...year
      })
    },
    chooseReward (i) {
      this.showFilterReward = !this.showFilterReward
      this.selectedReward = i
    },
    request (props) {
      let search = ''
      if (props.filter) {
        search = Object.keys(props.filter).map((i, j) => {
          let a = i.split(':')
          return `${a[0]}:${props.filter[i]}:${a[1]}`
        }).join(',')
      }
      console.log('search', search, props.filter)
      let ab = { ...props.pagination, ...{ search: search } }
      this.$store.dispatch('program/index', ab)
    }
  }
}
</script>

      <style></style>
