<!-- eslint-disable-next-line vue/valid-v-bind -->
<template>
  <q-page class="row flex-center">
    <div class="col-lg-3 col-xs-12">
      <q-header >
        <q-toolbar>
          <q-btn v-go-back.single="{name:'Profile'}" flat round icon="img:https://img.icons8.com/ios/50/ffffff/back.png" />
          <q-toolbar-title class="text-center">
            Edit Profile
          </q-toolbar-title>
          <q-btn flat round class="invisible" icon="wifi" />
        </q-toolbar>
      </q-header>

    <div class="full-width">

      <q-img
        :ratio="1200/630"
        :src="auth.cover ? `${api_url}/uploads/`+auth.cover : 'https://source.unsplash.com/user/foneperformance/likes'"
        alt="cover"
        @error="coverError"
        transition="slide-right"
      >
        <input
          id="cover"
          type="file"
          name="cover"
          class="hidden"
          @change="changeCover"
        >

        <div class="absolute-center transparent">
          <q-avatar
            size="130px"
            class="border relative-position"
          >
            <q-img
              :src="`${api_url}/uploads/`+auth.avatar"
              :ratio="1"
              transition="slide-left"
              @error="coverError"
            />
            <label
              class="absolute-bottom-right cursor-pointer q-mb-md q-mr-md text-body1 bg-grey flex items-center rounded-borders q-px-xs"
              for="avatar"
            >
              <span class="q-mr-sm">edit</span>
              <q-icon
                name="edit"
                size="15px"
              />
            </label>
          </q-avatar>
          <input
            id="avatar"
            type="file"
            name="avatar"
            class="hidden"
            @change="changeAvatar"
          >
        </div>
        <label
          class="absolute-bottom-right cursor-pointer q-mb-md q-mr-md text-body1 bg-grey flex items-center rounded-borders q-px-xs text-white"
          for="cover"
        >
          <span class="q-mr-sm">edit</span>
          <q-icon
            name="edit"
            size="15px"
          />
        </label>
      </q-img>
    </div>
    <q-form
      @submit.prevent="updateProfile(auth)"
      @reset="reset(['email','username','password'])"
      class="full-width q-px-md q-pt-md"
    >

      <!-- <q-input
        filled
        v-model="email"
        label="Your email *"
        lazy-rules
        :rules="$helpers.validation('Email','required')"
        type="email"
      /> -->

      <q-input
        filled
        v-model="username"
        label="Your username *"
        lazy-rules
        :rules="$helpers.validation('Username','required')"
      />
      <q-input
        filled
        v-model="phone"
        label="Your phone *"
        lazy-rules
        :rules="$helpers.validation('Phone','required')"
        type="tel"
      />
      <q-select
        filled
        behavior="dialog"
        v-model="gender"
        :options="['male','female']"
        label="Gender"
        lazy-rules
        :rules="$helpers.validation('Gender','required')"
      />

      <!-- <q-input
        label="Your password *"
        v-model="password"
        filled
        :type="isPwd ? 'password' : 'text'"
        lazy-rules
        :rules="$helpers.validation('Password','required')"
      >
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input> -->

      <q-input
        filled
        v-model="birthdate"
        mask="date"
        :rules="['date']"
        label="Birthdate"
      >
        <template v-slot:append>
          <q-icon
            name="event"
            class="cursor-pointer"
          >
            <q-popup-proxy
              ref="qDateProxy"
              transition-show="scale"
              transition-hide="scale"
            >
              <q-date
                v-model="birthdate"
                @input="() => $refs.qDateProxy.hide()"
              />
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>

      <q-input
        filled
        type="text"
        v-model="location"
        lazy-rules
        :rules="[]"
        label="Search Location"
      >
        <template v-slot:append>
          <q-icon
            name="search"
            class="cursor-pointer"
            @click="$router.push({name:'Location'})"
          />
        </template>
      </q-input>
      <q-input
        v-model="bio"
        filled
        label="Introduction"
        type="text"
        autogrow
        lazy-rules
        :rules="[]"
      />

        <q-btn
          label="Save Profile"
          type="submit"
          color="primary"
          class="full-width q-mb-md"
          unelevated
          size="lg"
        />
    </q-form>
    </div>
  </q-page>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'
import { vuexSync } from 'boot/helpers'

export default {
  name: 'EditProfile',
  data () {
    return {
      isPwd: true,
      api_url: process.env.API_URL2
    }
  },
  computed: {
    ...vuexSync('auth', ['email', 'password', 'username', 'birthdate', 'avatar', 'cover', 'bio', 'phone', 'gender', '__status', '__message']),
    ...mapState(['auth']),
    ...mapGetters({ location: 'auth/location' })

  },
  created () {
    Object.assign(this.notify, { enable: true, success: true })
  },
  methods: {
    coverError (e) {
      e.target.src = 'https://source.unsplash.com/user/foneperformance/likes?v=1'
    },
    ...mapActions({
      changeAvatar: 'auth/changeAvatar',
      changeCover: 'auth/changeCover',
      updateProfile: 'auth/updateProfile',
      reset: 'auth/reset'
    })
  }
}
</script>

<style>
</style>
