<template>
  <q-page class="row flex-center">
    <div class="col-lg-3 col-xs-12">
        <q-header >
      <q-toolbar>
        <q-btn v-go-back.single="{name:'LoginWithEmail'}" flat round icon="img:https://img.icons8.com/ios/50/000000/back.png" />
        <q-toolbar-title class="text-subtitle1 text-center">
          Send Email Verification
        </q-toolbar-title>
        <q-btn flat round class="invisible" icon="wifi" />
      </q-toolbar>
    </q-header>

    <q-form
      @submit="emailVerification({email})"
      @reset="reset(['email'])"
      class="full-width q-pa-md"
    >

      <q-input
        filled
        v-model="email"
        label="Your email *"
        lazy-rules
        :rules="$helpers.validation('Email','required|email')"
      />
      <q-btn label="Send email" type="submit" color="primary" class="full-width" unelevated size="lg" />

   </q-form>
   </div>
  </q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { vuexSync } from 'boot/helpers'
export default {
  name: 'Login',
  data () {
    return {
      isPwd: true
    }
  },
  created () {
    Object.assign(this.notify, { enable: true,
      success: true,
      redirect: (status) => {
        if (status.indexOf('success') !== -1) this.$router.push({ name: 'CodeVerification' })
      } })
  },
  computed: {
    ...mapState(['auth']),
    ...vuexSync('auth', ['email', '__status', '__message'])
  },
  methods: {
    ...mapActions({
      'emailVerification': 'auth/emailVerification',
      'reset': 'auth/reset'
    })
  }
}
</script>

<style>
</style>
