<template>
  <q-page v-if="programOrder.__status !== 'loading'" class="flex column flex-center">
    <div>
    <q-avatar size="9em">
        <img src="~assets/dealerprogram.png"/>
    </q-avatar>
    <div class="q-mt-md text-center">
      <span class="text-subtitle block q-pb-xs text-orange">Welcome, {{$store.state.auth.username}}</span>
    </div>
    </div>

    <div
      v-if="program_active.length === 0"
      class="text-center q-pa-md text-red flex flex-center column"
    >
      <div class="q-mt-xl">
      <q-btn label="daftar program" icon-right="chevron_right" color="orange" to="/daftar-program" />
      </div>
    </div>
    <div class="q-pa-md full-width" v-else>
      <p class="text-bold text-red text-h5">My Program</p>

      <q-list dense separator class="bg-grey-2">
        <q-item v-for="i in program_active" :key="i.id" clickable to="/my-program">
            <q-item-section class="q-pa-sm">
              <q-item-label class="text-bold subtitle1">{{i.program_name}}</q-item-label>
              <q-item-label caption>{{ getPeriodDate(i.Program.program_period_start) }}-{{
            getPeriodDate(i.Program.program_period_finish, {
              year: "numeric"
            })
          }} (Semester {{i.Program.program_semester}})</q-item-label>
            </q-item-section>
            <q-item-section side>
              <span class="flex items-center justify-center">Lihat detail<q-icon name="arrow_right" size="lg" /></span>
            </q-item-section>
        </q-item>
      </q-list>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
/* eslint-disable vue/no-unused-components */
import { mapState } from 'vuex'
import { vuexSync } from 'boot/helpers'
import TabContent from '../components/TabContent'
import TabDialog from '../components/TabDialog'

export default {
  name: 'PageIndex',
  components: {
    apexchart: () => import('vue-apexcharts'),
    TabContent: TabContent
  },
  data () {
    return {
      programTypes: [
        { label: 'Apresiasi', value: 1, icon: 'money' },
        { label: 'Trip', value: 2, icon: 'emoji_transportation' }
      ],
      tab: 'trip'
    }
  },
  computed: {
    ...mapState([
      'programOrder',
      'programReport',
      'area',
      'user',
      'program',
      'auth'
    ]),
    ...vuexSync('programOrder', [
      'user_id',
      'program_id',
      'program_order_status',
      'program_order_sort',
      'program_active',
      'program_history',
      '__status',
      '__message',
      '__error',
      '__validation'
    ])
  },
  watch: {
    programOrder: {
      handler (val) {
        console.log('val', val)
        if (val.__status !== 'loading') {
          if (val.program_orders.length > 0) {
            this.tab = val.program_orders[0].Program.program_type === 2 ? 'trip' : 'apresiasi'
          }
        }
      },
      deep: true
    }
  },
  created () {
    Object.assign(this.notify, {
      enable: true,
      success: true
    })
    this.$store.dispatch('programOrder/index', {
      show: 'all',
      myProgram: true,
      search: `program_orders.user_id:${this.auth.id}:integer`
    })
    // this.$store.dispatch('programOrder/index', {
    //   show: 'all',
    //   history: true,
    //   search: `program_orders.user_id:${this.auth.id}:integer,history:1:month`
    // })
  },
  methods: {
    detailHistory (value) {
      this.$q.dialog({
        component: TabDialog,
        parent: this,
        value,
        history: true
      })
    },
    getPeriodDate (date, year) {
      return new Date(date).toLocaleString('id-ID', {
        month: 'short',
        ...year
      })
    },
    getLabel (item, type) {
      let lbl = this.programTypes.filter(
        i => i.value === item.Program.program_type
      )[0]
      console.log('llbll', lbl)
      return type === 'name'
        ? lbl.label.toLowerCase()
        : type === 'label'
          ? lbl.label
          : lbl.icon
    }
  }
}
</script>
