<!-- eslint-disable-next-line vue/valid-v-bind -->
<template>
  <q-page class="row flex-center">
    <div class="col-lg-3 col-xs-12">
        <q-header >
        <q-toolbar>
        <q-btn v-go-back.single="{name:'EditProfile'}" flat round icon="img:https://img.icons8.com/ios/50/ffffff/back.png" />
        <q-toolbar-title class="text-subtitle1 text-center">
          Location
        </q-toolbar-title>
        <q-btn flat round class="invisible" icon="wifi" />
      </q-toolbar>
    </q-header>

    <div class="full-width  q-pa-md">
      <q-select filled v-model="country" :options="optionCountries" option-value="id" option-label="name" label="Country" class="q-mb-sm"  use-input input-debounce="0" @filter="(val, update) => filterLocation(val, update, 'optionCountries', 'countries')" :loading="__status === 'loading'" />
      <q-select filled v-model="state" :options="optionStates"  option-value="id" option-label="name" label="State" class="q-mb-sm"   use-input input-debounce="0" @filter="(val, update) => filterLocation(val, update, 'optionStates', 'states')" :loading="__status === 'loading'" />
      <q-select filled v-model="city" :options="optionCities"  option-value="id" option-label="name" label="City" use-input input-debounce="0" @filter="(val, update) => filterLocation(val, update, 'optionCities', 'cities')" :loading="__status === 'loading'" />
    </div>
  </div>
  </q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { vuexSync } from 'boot/helpers'
export default {
  name: 'EditProfile',
  data () {
    return {
      isPwd: false,
      loc: '',
      optionCountries: this.countries,
      optionStates: this.states,
      optionCities: this.cities
    }
  },
  created () {
    Object.assign(this.notify, { enable: true })
  },
  computed: {
    ...mapState(['auth', 'location']),
    ...vuexSync('location', ['countries', 'states', 'cities', '__status', '__message']),
    ...vuexSync('auth', ['country_id', 'state_id', 'city_id', 'country', 'state', 'city'])
  },
  watch: {
    'auth.country': {
      handler (country) {
        // reset state and city if country change
        this.$store.commit('auth/SET_STATE', { id: null, name: null }, { root: true })
        this.$store.commit('auth/SET_CITY', { id: null, name: null }, { root: true })
        this.loadStates({ country_id: country.id })
      },
      deep: true
    },
    'auth.state': {
      handler (state) {
        // reset city if state change
        this.$store.commit('auth/SET_CITY', { id: null, name: null }, { root: true })
        this.loadCities({ state_id: state.id })
      },
      deep: true
    }
  },
  mounted () {
    this.useDefaultAlert = true
    this.alertYes = false

    this.loadCountries()

    if (this.country) {
      this.loadStates({ country_id: this.country.id })
    }

    if (this.state) {
      this.loadCities({ state_id: this.state.id })
    }
  },
  methods: {
    ...mapActions({
      'loadCountries': 'location/countries',
      'loadStates': 'location/states',
      'loadCities': 'location/cities'
    }),
    filterLocation (val, update, type, loc) {
      if (val === '') {
        update(() => {
          this[type] = this[loc]
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this[type] = this[loc].filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    }
  }
}
</script>

<style>
</style>
