<template>
  <q-page class="row flex-center">
    <div class="col-lg-3 col-xs-12">
      <q-header class="">
        <q-toolbar>
          <q-btn
            v-go-back.single="{ name: 'Login' }"
            flat
            round
            icon="img:https://img.icons8.com/ios/50/ffffff/back.png"
          />
          <q-toolbar-title class="text-center">
            Login With Phone
          </q-toolbar-title>
          <q-btn flat round class="invisible" icon="wifi" />
        </q-toolbar>
      </q-header>

      <q-form
        @submit="loginWithPhone({ phone: phone, password: password })"
        @reset="reset(['phone', 'password'])"
        class="q-pa-md"
      >
        <q-input
          filled
          v-model="phone"
          label="Your phone *"
          lazy-rules
          :rules="$helpers.validation('phone', 'required')"
        />

        <q-input
          v-model="password"
          filled
          label="Your password *"
          :type="isPwd ? 'password' : 'text'"
          lazy-rules
          :rules="$helpers.validation('Password', 'required|min:3,6')"
        >
          <template v-slot:append>
            <q-icon
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
            />
          </template>
        </q-input>
        <!-- <div class="text-right">
              <q-btn
                :to="{name:'EmailVerification'}"
                label="Forgot Password"
                unelevated
                class="no-padding text-grey"
                no-caps
              />
            </div> -->
        <q-btn
          label="Login"
          type="submit"
          color="primary"
          class="full-width"
          unelevated
          size="lg"
        />
      </q-form>
    </div>
  </q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { vuexSync } from 'boot/helpers'
export default {
  name: 'Login',
  data () {
    return {
      isPwd: true
    }
  },
  computed: {
    ...mapState(['auth']),
    ...vuexSync('auth', ['email', 'phone', 'password', '__status', '__message'])
  },
  created () {
    Object.assign(this.notify, {
      enable: true,
      success: true,
      redirect: status => {
        if (status.indexOf('success') !== -1) this.$router.replace('/')
      }
    })
  },
  methods: {
    ...mapActions({
      loginWithPhone: 'auth/login',
      reset: 'auth/reset'
    })
  }
}
</script>

<style></style>
