<template>
  <q-page class="row flex-center bg">
    <Tour :tour="showTour" @toggle="showTourDialog" />
    <div class="col-lg-3 col-xs-12 q-gutter-xl">
      <div class="rounded-borders">
        <div class="text-center flex column items-center relative-position">
          <q-avatar class="q-my-md" size="9em">
            <img src="~assets/dealerprogram.png" />
          </q-avatar>

          <div class="text-white q-mb-lg">
            <span class="text-h4 block q-pb-xs">Dealer Program</span>
            <span class="subtitle">https://www.dealerprogram.id</span>
          </div>
        </div>

        <div class="column q-pa-md q-mt-md">
          <q-btn
            @click="$router.push({ name: 'LoginWithEmail' })"
            align="between"
            color="primary"
            class="q-mb-md full-width"
            size="lg"
          >
            <q-icon
              name="img:https://img.icons8.com/ios/40/ffffff/important-mail.png"
            />
            <div class="">Login With Email</div>
            <q-icon name="wifi" class="invisible" />
          </q-btn>
          <q-btn
            @click="$router.push({ name: 'LoginWithPhone' })"
            align="between"
            color="blue"
            class="q-mb-md full-width"
            size="lg"
          >
            <q-icon
              name="img:https://img.icons8.com/ios/40/ffffff/phone.png"
            />
            <div class="">Login With Phone</div>
            <q-icon name="phone" class="invisible" />
          </q-btn>
          <!-- <q-btn @click="$router.push({name:'CompleteAccount'})" color="white" align="between" class="q-mb-md full-width" outline size="lg">
        <q-icon name="img:https://img.icons8.com/ios/40/ffffff/user.png" />
        <div class="">Register Now</div>
        <q-icon name="wifi" class="invisible" />
      </q-btn> -->

          <!-- <q-btn @click="dialog=true" label="Continue with another account" class="text-white q-mt-md" dense no-caps unelevated /> -->
          <!-- <q-btn
            @click="showTour = true"
            label="view tour"
            class="text-white text-light"
            dense
            no-caps
            unelevated
          /> -->

          <q-dialog v-model="dialog" position="bottom" square>
            <div class="bg-white flex column q-pa-md">
              <q-btn
                @click="loginWith('google')"
                align="between"
                color="blue-9"
                class="q-mb-md full-width"
                size="lg"
                unelevated
                no-caps
              >
                <q-icon
                  name="img:https://img.icons8.com/ios/50/ffffff/facebook.png"
                />
                <div class="col">Continue with facebook</div>
                <q-icon name="wifi" class="invisible" />
              </q-btn>
              <q-btn
                @click="loginWith('google')"
                align="between"
                color="red-6"
                class="q-mb-md full-width"
                size="lg"
                unelevated
                no-caps
              >
                <q-icon
                  name="img:https://img.icons8.com/ios/50/ffffff/google-logo.png"
                />
                <div class="col">Continue with google</div>
                <q-icon name="wifi" class="invisible" />
              </q-btn>
              <q-btn
                @click="loginWith('instagram')"
                align="between"
                color="pink-6"
                class="q-mb-md full-width"
                size="lg"
                unelevated
                no-caps
              >
                <q-icon
                  name="img:https://img.icons8.com/ios/50/ffffff/instagram-new.png"
                />
                <div class="col">Continue with instagram</div>
                <q-icon name="wifi" class="invisible" />
              </q-btn>
              <q-btn
                @click="loginWith('twitter')"
                align="between"
                color="blue-6"
                class="q-mb-md full-width"
                size="lg"
                unelevated
                no-caps
              >
                <q-icon
                  name="img:https://img.icons8.com/ios/50/ffffff/twitter.png"
                />
                <div class="col">Continue with Twitter</div>
                <q-icon name="wifi" class="invisible" />
              </q-btn>
            </div>
          </q-dialog>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  name: 'Login',
  components: {
    Tour: () => import('../components/Tour')
  },
  data () {
    return {
      showTour: false,
      dialog: false
    }
  },
  computed: {
    ...mapState(['auth'])
  },
  watch: {
    'auth.__status' (status) {
      console.log('AUTH:STATUS : ', status)
      if (status === 'loading') {
        this.$q.loading.show()
        return false
      }

      this.$q.loading.hide()
      this.$q.notify({
        color: status === 'success' ? 'green-4' : 'red-4',
        textColor: 'white',
        icon: 'fas fa-check-circle',
        message: this.auth.__message
      })

      if (status === 'success') {
        this.$router.push('/user')
      } else {
        this.$router.push('/register')
      }
    }
  },
  created () {
    if (this.$route.query.code) {
      this.$q.loading.show()
    }
  },
  mounted () {
    this.$oauth.bus.$on('OAUTH_RESPONSE', val => {
      console.log('OAUTH_RESPONSE : ', val)
      this.$q.loading.hide()
      if (val.status !== 'error') {
        const response = this.getResponse(val)
        // this.loginWithSocialMedia(response)
        this.$store.commit('auth/SET_RESPONSE', response)
        this.$router.replace('/user-verification')
      } else {
        this.$q.notify(val.message)
      }
    })
  },
  beforeDestroy () {
    this.$oauth.bus.$off('OAUTH_RESPONSE')
  },
  methods: {
    showTourDialog (val) {
      this.showTour = !this.showTour
    },
    loginWith (type) {
      this.$q.loading.show({ message: 'Please Wait' })
      let options = {}

      if (this.$route.query.notme) {
        if (this.auth.loginWith === type) {
          options = { relogin: true, token: this.auth[type].token }
        }
      }

      if (this.$route.query.redirect) {
        options.state = { redirect: this.$route.query.redirect }
      }

      console.log(' LOGIN ', options, this.$route.query)
      this.$oauth.loginWith(type, options)
    },
    getResponse (val) {
      if (val.type === 'facebook') {
        return {
          loginWith: val.type,
          email: val.data.email,
          username: val.data.name.replace(/\s/gi, '-'),
          picture: val.data.picture.data.url,
          facebook: {
            id: val.data.id,
            picture: val.data.picture.data.url,
            email: val.data.email,
            name: val.data.name
          }
        }
      } else if (val.type === 'google') {
        return {
          loginWith: val.type,
          email: val.data.email,
          username: val.data.name.replace(/\s/gi, '-'),
          picture: val.data.picture,
          google: {
            id: val.data.id,
            picture: val.data.picture,
            email: val.data.email,
            name: val.data.name
          }
        }
      } else if (val.type === 'instagram') {
        return {
          loginWith: val.type,
          email: '',
          username: val.data.username,
          picture: val.data.profile_picture,
          instagram: {
            id: val.data.id,
            picture: val.data.profile_picture,
            username: val.data.username,
            name: val.data.full_name
          }
        }
      } else {
        console.log('type notfound', val)
        return null
      }
    },
    ...mapActions({
      saveAuthStore: 'auth/saveAuthStore',
      reset: 'auth/reset'
    })
  }
}
</script>

<style>
.bg {
  background: url(https://source.unsplash.com/user/foneperformance/likes) no-repeat center center;
  background-size: cover;
}
.bg:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.has-bg-img {
  position: srelative;
}
.has-bg-img:after {
  content: "";
  background: url("http://placehold.it/500x100") no-repeat center center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1; /* Here is your opacity */
}
</style>
