<template>
  <q-page v-if="programOrder.__status !== 'loading'">
    <div
      v-if="program_active.length === 0"
      class="text-center q-pa-md text-red flex flex-center column"
    >
      Anda Belum mengikuti program

      <q-btn label="daftar program" to="/daftar-program" class="q-mt-md" color="red" />
    </div>
    <div v-else>
      <q-tabs
        v-model="tab"
        inline-label
        align="justify"
        class="bg-primary text-white shadow-2"
        indicator-color="red"
        v-if="program_active.length > 1"
      >
        <q-tab
          :name="getLabel(i, 'name')"
          :label="getLabel(i, 'label')"
          :icon="getLabel(i, 'icon')"
          v-for="(i, j) in program_active"
          :key="j"
        >
        </q-tab>
      </q-tabs>

      <q-tab-panels v-model="tab" animated swipeable>
        <q-tab-panel
          :name="getLabel(i, 'name')"
          v-for="(i, j) in program_active"
          :key="j"
        >
          <tab-content :value="i" />
        </q-tab-panel>
      </q-tab-panels>
    </div>
    <div class="q-pa-md" v-if="program_history.length > 0">
      <p class="text-bold text-red text-subtitle1">History My Program</p>

      <q-list dense separator class="bg-yellow-2">
        <q-item v-for="i in program_history" :key="i.id" clickable @click="detailHistory(i)">
            <q-item-section class="q-pa-sm">
              <q-item-label caption>{{i.program_name}}</q-item-label>
              <q-item-label caption>{{ getPeriodDate(i.Program.program_period_start) }}-{{
            getPeriodDate(i.Program.program_period_finish, {
              year: "numeric"
            })
          }} (Semester {{i.Program.program_semester}})</q-item-label>
            </q-item-section>
            <q-item-section side>
              view
            </q-item-section>
        </q-item>
      </q-list>
    </div>
  </q-page>
</template>

<script>
/* eslint-disable vue/no-unused-components */
import { mapState } from 'vuex'
import { vuexSync } from 'boot/helpers'
import TabContent from '../components/TabContent'
import TabDialog from '../components/TabDialog'

export default {
  components: {
    apexchart: () => import('vue-apexcharts'),
    TabContent: TabContent
  },
  data () {
    return {
      programTypes: [
        { label: 'Apresiasi', value: 1, icon: 'money' },
        { label: 'Trip', value: 2, icon: 'emoji_transportation' }
      ],
      tab: 'trip'
    }
  },
  computed: {
    ...mapState([
      'programOrder',
      'programReport',
      'area',
      'user',
      'program',
      'auth'
    ]),
    ...vuexSync('programOrder', [
      'user_id',
      'program_id',
      'program_order_status',
      'program_order_sort',
      'program_active',
      'program_history',
      '__status',
      '__message',
      '__error',
      '__validation'
    ])
  },
  watch: {
    programOrder: {
      handler (val) {
        console.log('val', val)
        if (val.__status !== 'loading') {
          if (val.program_orders.length > 0) {
            this.tab = val.program_orders[0].Program.program_type === 2 ? 'trip' : 'apresiasi'
          }
        }
      },
      deep: true
    }
  },
  created () {
    Object.assign(this.notify, {
      enable: true,
      success: true
    })
    this.$store.dispatch('programOrder/index', {
      show: 'all',
      myProgram: true,
      search: `program_orders.user_id:${this.auth.id}:integer`
    })

    // this.$store.dispatch('programOrder/index', {
    //   show: 'all',
    //   history: true,
    //   search: `program_orders.user_id:${this.auth.id}:integer,history:1:month`
    // })
  },
  methods: {
    detailHistory (value) {
      this.$q.dialog({
        component: TabDialog,
        parent: this,
        value,
        history: true
      })
    },
    getPeriodDate (date, year) {
      return new Date(date).toLocaleString('id-ID', {
        month: 'short',
        ...year
      })
    },
    getLabel (item, type) {
      let lbl = this.programTypes.filter(
        i => i.value === item.Program.program_type
      )[0]
      console.log('llbll', lbl)
      return type === 'name'
        ? lbl.label.toLowerCase()
        : type === 'label'
          ? lbl.label
          : lbl.icon
    }
  }
}
</script>
