<template>
  <q-page padding>
    <div v-if="__status === 'loading' && firstLoad" class="q-pa-md text-center">
      <q-spinner-facebook color="light-blue" size="2em" />
    </div>
    <div
      v-else-if="notification.notifications.length === 0"
      class="q-pa-md text-center"
    >
      you have 0 notification right now
    </div>
    <div v-else>

      <!-- <div class="text-right q-pb-md">
              <q-btn-group class="q-mx-xs-xs q-mx-lg-none" flat>
                <q-btn
                  v-if="selected.length > 0"
                  icon="delete"
                  :label="`${getSelectedString()}`"
                  color="red text-white"
                  @click="destroy(selected.map(i => i.id).join(','))"
                />
                <q-btn
                  icon="search"
                  label="search"
                  color="blue text-white"
                  @click="showFilter = !showFilter"
                >
                  <q-badge
                    v-if="filters && filters.filter(i => i.search).length > 0"
                    label="search"
                    color="red"
                    class="q-pa-xs text-xs"
                  />
                </q-btn>
              </q-btn-group>
            </div> -->
      <div class="text-right q-pb-md">
        <div class="text-right q-pb-md">
        <q-btn
          :icon="!unread ? 'filter' : 'clear'"
          :color="!unread ? 'primary' : 'red'"
          :label="!unread ? 'Cek Unread Message' : 'Clear'"
          @click="cekUnread"
        />
      </div>
      </div>
      <q-dialog v-model="showDetail" persistent maximized>
        <q-card
          class="bg-white text-black"
          style="width: 700px; max-width: 100vw;"
        >
          <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">Notifikasi</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section class="q-pt-none">
            <q-list bordered>
              <q-item>
                <q-item-section>
                  <q-item-label>{{ notif.notification_name }}</q-item-label>
                  <q-item-label>&nbsp;</q-item-label>
                  <q-item-label caption lines="10">{{
                    notif.notification_description
                  }}</q-item-label>
                  <q-item-label caption lines="1" class="text-right">{{
                    notif.updated_at
                  }}</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-card-section>
        </q-card>
      </q-dialog>

      <q-dialog v-model="showFilter" persistent>
        <q-card
          class="bg-white text-black"
          style="width: 700px; max-width: 100vw;"
        >
          <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">Filter</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section class="q-pt-none">
            <filter-table
              :columns="notifications.columns"
              :values="filters"
              @filter-result="getResult"
            />
          </q-card-section>
        </q-card>
      </q-dialog>

      <q-table
        class="no-shadow"
        square
        bordered
        no-data-label="I didn't find anything for you"
        :grid="tableGrid !== null ? tableGrid : $q.screen.lt.md"
        :title="$route.label"
        :data="notifications.data"
        :columns="getColumns"
        :visible-columns="
          notifications.columns
            .map(i => i.name)
            .filter(
              i =>
                !this.config.invisibleColumns.notifications.invisibleColumns.includes(
                  i
                )
            )
        "
        :pagination="notifications.pagination"
        @request="request"
        :loading="__status === 'loading'"
        :filter="filter"
        selection="multiple"
        :selected.sync="selected"
        :selected-rows-label="getSelectedString"
      >
        <template v-slot:loading>
          <q-inner-loading showing color="primary" />
        </template>
        <template v-slot:no-data="{ icon, message }">
          <div class="full-width row flex-center text-red q-gutter-sm">
            <q-icon size="2em" name="sentiment_dissatisfied" />
            <span> Well this is sad... {{ message }} </span>
          </div>
        </template>
        <template v-slot:header="props">
          <q-tr :props="props" class="bg-grey-4">
            <q-th>
              <q-checkbox
                v-model="props.selected"
                keep-color
                :dense="$q.screen.lt.md"
                v-if="$store.state.auth.user_role > 2"
              />
            </q-th>
            <q-th v-for="col in props.cols" :key="col.name" :props="props">
              {{ col.label }}
            </q-th>
          </q-tr>
        </template>

        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td align="center">
              <q-checkbox dense v-model="props.selected" />
            </q-td>
            <q-td
              v-for="col in props.cols"
              :key="col.name"
              :align="col.align"
              :classes="col.classes"
            >
              <div v-if="col.name === 'action'" class="q-gutter-sm">
                <q-btn
                  icon="visibility"
                  label=""
                  color="green"
                  flat
                  dense
                  @click="viewNotification(props.row)"
                >
                  <q-tooltip>view</q-tooltip>
                </q-btn>
                <q-btn
                  icon="delete"
                  label=""
                  color="red"
                  flat
                  dense
                  @click="destroy(props.row.id)"
                >
                  <q-tooltip>delete</q-tooltip>
                </q-btn>
              </div>
              <div v-html="col.value" v-else></div>
            </q-td>
          </q-tr>
        </template>

        <template v-slot:item="props">
          <div
            class="q-pa-xs col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-style-transition"
            :style="props.selected ? 'transform: scale(0.95);' : ''"
          >
            <!-- <pre>{{}}</pre> -->
            <q-card
              :class="[
                props.selected ||
                props.cols.filter(
                  i => i.name === 'notifications.notification_status'
                )[0].value === 1
                  ? 'bg-white'
                  : '',
                'no-border-radius'
              ]"
              flat
              bordered
            >
              <q-list dense>
                <q-item
                  v-for="col in props.cols.filter(col =>
                    ['notification_name', 'updated_at'].includes(col.field)
                  )"
                  :key="col.name"
                  style=""
                >
                  <!-- <q-item-section class="col-3">
                          <q-item-label caption class="text-bold">{{ col.label }}</q-item-label>
                        </q-item-section> -->
                  <q-item-section side class="col">
                    <q-item-label
                      caption
                      class="flex items-center justify-between full-width"
                      lines="4"
                      v-if="col.field === 'notification_name'"
                    >
                      <span class="text-bold text-subtitle1 q-mr-md">{{
                        col.value
                      }}</span>
                      <q-badge
                        v-if="
                          props.cols.filter(
                            i => i.name === 'notifications.notification_status'
                          )[0].value === 1
                        "
                        :label="
                          ['inactive', 'new', 'read'][
                            props.cols.filter(
                              i =>
                                i.name === 'notifications.notification_status'
                            )[0].value
                          ]
                        "
                        color="red"
                      />
                    </q-item-label>
                    <q-item-label
                      caption
                      class="text-no-wraap"
                      v-else-if="col.field === 'updated_at'"
                    >
                      {{ getDate(col.value) }}
                    </q-item-label>
                    <q-item-label
                      caption
                      class="text-no-wrap"
                      lines="4"
                      v-html="col.value"
                      v-else
                    ></q-item-label>
                  </q-item-section>
                </q-item>

                <!-- <q-separator /> -->
                <q-item class="bg-grey-2">
                  <q-item-section>
                    <q-checkbox
                      v-if="$store.state.auth.user_role > 2"
                      dense
                      v-model="props.selected"
                      :label="props.row.name"
                    />
                  </q-item-section>

                  <q-item-section side>
                    <q-item-label>
                      <q-card-actions align="right">
                        <q-btn
                          flat
                          dense
                          color="teal"
                          label="lihat notifikasi"
                          icon="visibility"
                          @click="viewNotification(props.row)"
                          size="md"
                        >
                          <q-tooltip>lihat notifikasi</q-tooltip>
                        </q-btn>
                        <q-btn
                          flat
                          dense
                          color="red"
                          label=""
                          icon="delete"
                          @click="destroy(props.row.id)"
                          size="md"
                        >
                          <q-tooltip>delete</q-tooltip>
                        </q-btn>
                      </q-card-actions>
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-card>
          </div>
        </template>
      </q-table>
    </div>
  </q-page>
</template>

<script>
import { mapState } from 'vuex'
import { vuexSync } from 'boot/helpers'
import { extend } from 'quasar'
// eslint-disable-next-line no-unused-vars
import moment from 'moment'

export default {
  data () {
    return {
      firstLoad: true,
      tableGrid: null,
      showFilter: false,
      showDetail: false,
      notif: {},
      filters: '',
      pos: {},
      filter: {},
      selected: []
    }
  },
  computed: {
    ...mapState(['notification', 'config', 'auth']),
    ...vuexSync('notification', [
      'user_id',
      'notification_name',
      'notification_description',
      'notification_status',
      'notifications',
      '__status',
      '__message'
    ]),
    invisibleColumns: {
      get () {
        return this.config.invisibleColumns.notifications.invisibleColumns
      },
      set (val) {
        let intersection = this.config.invisibleColumns.notifications.invisibleColumns.filter(
          x => !val.includes(x)
        )
        let vv =
          intersection.length === 0 ? val[val.length - 1] : intersection[0]
        this.$store.commit('config/updateVisibility', {
          table: 'notifications',
          data: vv
        })
      }
    },
    getColumns () {
      let items = extend(true, {}, this.notifications)
      console.log('items : ', items)
      if (items.columns) {
        return items.columns.map(i => {
          if (i.format) {
            // eslint-disable-next-line no-eval
            i.format = eval(i.format)
          }
          return i
        })
      } else {
        return null
      }
    }
  },
  created () {
    Object.assign(this.notify, {
      enable: true,
      success: false,
      showLoading: false,
      redirect: status => {
        if (
          status === 'success_destroy_notification' ||
          status === 'success_update_notification'
        ) {
          this.request({
            pagination: {
              sortBy: 'notifications.id',
              descending: 'true'
            },
            filter: { 'user_id:integer': this.auth.id }
          })
        }
      }
    })

    this.request({
      pagination: {
        sortBy: 'notifications.id',
        descending: 'true'
      },
      filter: { 'user_id:integer': this.auth.id }
    })
  },
  methods: {
    lihatPending () {
      this.$router.push({ path: 'program-order', query: { search: `program_orders.program_order_status:3:integer` } })
    },
    cekUnread () {
      this.unread = !this.unread

      if (this.unread) {
        this.request({
          pagination: {
            sortBy: 'notifications.id',
            descending: 'true'
          },
          filter: {
            'user_id:integer': this.auth.id,
            notification_status: 1
          }
        })
      } else {
        this.request({
          pagination: {
            sortBy: 'notifications.id',
            descending: 'true'
          },
          filter: { 'user_id:integer': this.auth.id }
        })
      }
    },
    getDate (item) {
      return moment(item).fromNow()
    },
    viewNotification (item) {
      this.$store.dispatch('notification/update', {
        id: item.id,
        notification_status: 2,
        notification_name: item.notification_name,
        user_id: item.user_id
      })
      console.log(item)
      this.showDetail = true
      this.notif = item
    },
    async fetchData () {
      let url = `${process.env.API_URL}admin/notification?show=all`
      let response = await fetch(url, {
        method: 'get',
        headers: {
          'Content-Type': 'application/json',
          Accept: 'application/json',
          authorization: `Bearer ${this.$store.state.auth.token}`
        }
      })
      let result = await response.json()
      return result.notifications
    },
    updateVisibility (value) {
      this.$store.dispatch('config/update', {
        invisibleColumns: value,
        table: 'notifications'
      })
    },
    getResult (res) {
      let filters = {}

      res
        .filter(i => i.search)
        .forEach(i => {
          filters[i.search.value] = i.value
        })
      this.filters = res
      this.showFilter = !this.showFilter

      this.request({
        filter: filters
      })
    },
    getSelectedString () {
      return this.selected.length === 0
        ? ''
        : `remove ${this.selected.length} record${
          this.selected.length > 1 ? 's' : ''
        }`
    },
    request (props) {
      let search = ''
      console.log('props filter', props.filter)
      if (props.filter) {
        search = Object.keys(props.filter)
          .map((i, j) => {
            let a = i.split(':')
            return `${a[0]}:${props.filter[i]}:${a[1]}`
          })
          .join(',')
      }
      console.log('search', search, props.filter)
      let ab = { ...props.pagination, ...{ search: search } }
      this.$store.dispatch('notification/index', ab)
    },
    destroy (id) {
      this.$q
        .dialog({
          title: 'Confirm',
          message: 'Apakah anda yakin ingin menghapus data ini ?',
          cancel: true,
          persistent: true
        })
        .onOk(() => {
          this.$store.dispatch('notification/destroy', { id })
        })
        .onCancel(() => {})
    }
  },
  watch: {
    '$store.state.notification': {
      handler (val) {
        if (val.__status !== 'loading') {
          if (val.notifications) {
            this.firstLoad = false
            if (
              (this.config.invisibleColumns.notifications &&
                this.config.invisibleColumns.notifications
                  .invisibleColumnRevision) !==
              val.notifications.invisibleColumnRevision
            ) {
              this.$store.dispatch('config/store', {
                table: 'notifications',
                data: {
                  invisibleColumns: val.notifications.invisibleColumns,
                  invisibleColumnRevision:
                    val.notifications.invisibleColumnRevision
                }
              })
            }
          }
        }
      },
      deep: true
    },
    pos: {
      handler (val) {
        this.filter = this.clean(val)
      },
      deep: true,
      immediate: true
    }
  }
}
</script>

<style></style>
