<template>
  <!-- eslint-disable-next-line vue/valid-v-bind -->
  <q-page class="row flex-center">
    <div class="col-lg-3 col-xs-12">
        <q-header >
      <q-toolbar>
        <q-btn v-go-back.single="{name:'Profile'}" flat round icon="img:https://img.icons8.com/ios/50/ffffff/back.png" />
        <q-toolbar-title class="text-subtitle text-center">
          Profile
        </q-toolbar-title>
        <q-btn flat round class="" label="edit" :to="{name:'EditProfile'}" no-caps />
      </q-toolbar>
    </q-header>

      <q-img :ratio="1200/630"  :src="auth.cover ? `${api_url}/uploads/`+auth.cover : 'https://source.unsplash.com/user/foneperformance/likes?v=1'" alt="cover" @error="coverError" transition="slide-right">
        <div class="absolute-center transparent">
          <q-avatar size="130px" class="border relative-position">
            <q-img :src="auth.avatar ? `${api_url}/uploads/`+auth.avatar : 'https://source.unsplash.com/user/foneperformance/likes'"  :ratio="1" @error="coverError"  transition="slide-left"/>
          </q-avatar>
        </div>
      </q-img>

      <q-list padding>
        <q-item-label header>Profile</q-item-label>

        <q-item v-ripple>
          <q-item-section avatar top>
            <q-avatar icon="img:https://img.icons8.com/ios/50/000000/user.png" color="white" text-color="black" />
          </q-item-section>
          <q-item-section>
            <q-item-label lines="1">Username</q-item-label>
            <q-item-label caption>{{auth.username}}</q-item-label>
          </q-item-section>
        </q-item>

        <q-item v-ripple>
          <q-item-section avatar top>
            <q-avatar icon="img:https://img.icons8.com/ios/50/000000/gender.png" color="white" text-color="black" />
          </q-item-section>
          <q-item-section>
            <q-item-label lines="1">Gender</q-item-label>
            <q-item-label caption>{{auth.gender}}</q-item-label>
          </q-item-section>
        </q-item>

        <q-item v-ripple>
          <q-item-section avatar top>
            <q-avatar icon="img:https://img.icons8.com/ios/50/000000/email.png" color="white" text-color="black" />
          </q-item-section>
          <q-item-section>
            <q-item-label lines="1">Email</q-item-label>
            <q-item-label caption>{{auth.email}}</q-item-label>
          </q-item-section>
        </q-item>

        <q-item v-ripple>
          <q-item-section avatar top>
            <q-avatar icon="img:https://img.icons8.com/ios/50/000000/phone.png" color="white" text-color="black" />
          </q-item-section>
          <q-item-section>
            <q-item-label lines="1">Phone</q-item-label>
            <q-item-label caption>{{auth.phone}}</q-item-label>
          </q-item-section>
        </q-item>

         <q-item v-ripple>
          <q-item-section avatar top>
            <q-avatar icon="img:https://img.icons8.com/ios/50/000000/birth-date.png" color="white" text-color="black" />
          </q-item-section>
          <q-item-section>
            <q-item-label lines="1">Birthday</q-item-label>
            <q-item-label caption>{{auth.birthdate}}</q-item-label>
          </q-item-section>
        </q-item>

         <q-item v-ripple>
          <q-item-section avatar top>
            <q-avatar icon="img:https://img.icons8.com/ios/50/000000/user-location.png" color="white" text-color="black" />
          </q-item-section>
          <q-item-section>
            <q-item-label lines="1">Location</q-item-label>
            <q-item-label caption>{{location}}</q-item-label>
          </q-item-section>
        </q-item>

         <q-item v-ripple>
          <q-item-section avatar top>
            <q-avatar icon="img:https://img.icons8.com/ios/50/000000/add-rule.png" color="white" text-color="black" />
          </q-item-section>
          <q-item-section>
            <q-item-label lines="1">Bio</q-item-label>
            <q-item-label caption>{{auth.bio}}</q-item-label>
          </q-item-section>
        </q-item>

        <q-item-label header>Logout</q-item-label>
         <q-item clickable v-ripple @click="logout">
          <q-item-section avatar top>
            <q-avatar icon="img:https://img.icons8.com/ios/50/000000/logout-rounded-left.png" color="white" text-color="black" />
          </q-item-section>
          <q-item-section>
            <q-item-label lines="1">Logout</q-item-label>
            <q-item-label caption>Exit the App</q-item-label>
          </q-item-section>
        </q-item>
        <q-item-label header>&nbsp;</q-item-label>
        <q-item>
          <q-item-section>
             <q-btn
                :to="{name:'EditProfile'}"
                label="Edit Profile"
                type="submit"
                color="primary"
                class="full-width q-mb-md"
                unelevated
                size="lg"
              />
          </q-item-section>
        </q-item>
      </q-list>

    </div>

  </q-page>
</template>

<style>
</style>

<script>
import { mapState, mapGetters } from 'vuex'
export default {
  data () {
    return {
      isPwd: true,
      api_url: process.env.API_URL2
    }
  },
  computed: {
    ...mapState(['auth']),
    ...mapGetters({ location: 'auth/location' })
  },
  methods: {
    coverError (e) {
      e.target.src = 'https://source.unsplash.com/user/foneperformance/likes?v=1'
    },
    logout () {
      if (this.auth.token) {
        this.$store.dispatch('auth/logout')
        this.$router.push('/login')
      } else {
        this.$router.push('/login')
      }
    }
  }
}
</script>
