<template>
  <q-page class="row flex-center">
    <div class="col-lg-3 col-xs-12">
        <q-header >
      <q-toolbar>
        <q-btn v-go-back.single="{name:'CodeVerification'}" flat round icon="img:https://img.icons8.com/ios/50/ffffff/back.png" />
        <q-toolbar-title class="text-subtitle1 text-center">
          Reset Password
        </q-toolbar-title>
        <q-btn flat round class="invisible" icon="wifi" />
      </q-toolbar>
    </q-header>
    <q-form
      @submit="resetPassword({password, email:auth.email})"
      @reset="reset(['password'])"
      class="q-pa-md"
    >

      <q-input
        filled
        v-model="password"
        label="New Password *"
        lazy-rules
        :rules="$helpers.validation('New Password','required')"
      />

      <q-btn label="Reset Password" type="submit" color="primary" class="full-width" unelevated size="lg" no-caps />
    </q-form>
    </div>
  </q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { vuexSync } from 'boot/helpers'
export default {
  name: 'Login',
  data () {
    return {
      isPwd: true
    }
  },
  created () {
    Object.assign(this.notify, { enable: true,
      success: true,
      redirect: (status) => {
        if (status.indexOf('success') !== -1) this.$router.push({ name: 'LoginWithEmail' })
      } })
  },
  computed: {
    ...mapState(['auth']),
    ...vuexSync('auth', ['password', '__status', '__message'])
  },
  methods: {
    ...mapActions({
      'resetPassword': 'auth/resetPassword',
      'reset': 'auth/reset'
    })
  }
}
</script>

<style>
</style>
