<template>
  <q-page padding class="flex items-center justify-center">
    <div class="q-pa-md text-center">
        <img src="https://img.icons8.com/officel/120/000000/ok.png"/>
        <p class="text-center q-pa-md text-subtitle1">Terima kasih telah mengajukan pendaftaran program, kami akan mengirimkan email balasan untuk persetujuan program ini.</p>
        <div class="row q-gutter-md q-mt-xl">
          <q-btn label="My Program" to="/my-program" class="col" color="orange" />
          <q-btn label="Home" to="/" class="col" color="grey" />
        </div>
    </div>

  </q-page>
</template>

<script>
export default {

}
</script>

<style>

</style>
