<template>

  <q-page class="row flex-center">
    <div class="col-lg-3 col-xs-12">
        <q-header >
      <q-toolbar>
        <q-btn v-go-back.single="{name:'Login'}" flat round icon="img:https://img.icons8.com/ios/50/ffffff/back.png" />
        <q-toolbar-title class="text-center">
          Verify Account
        </q-toolbar-title>
        <q-btn flat round class="invisible" icon="wifi" />
      </q-toolbar>
    </q-header>

      <div class="q-pa-md flex column flex-center q-mb-xl">
          <q-avatar size="10em" class="q-mb-lg border">
            <img :src="auth.picture">
          </q-avatar>
          <span class="text-h4 q-pt-lg">{{auth.username}}</span>
          <span class="subtitle1 q-pt-xs text-grey-8">{{auth.email || auth.username}}</span>
        </div>

      <q-footer class="bg-white text-center q-pa-md layout-width">
        <q-btn label="Conntinue" @click="loginWithSocialMedia(auth)" icon-right="img:https://img.icons8.com/ios/50/ffffff/right.png" color="primary"  class="full-width" unelevated size="lg" />
        <q-btn label="Choose another account" color="grey-6" class="q-mt-sm" flat @click="$router.push('/login?notme=true')" no-caps dense />
      </q-footer>
    </div>
  </q-page>

</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  computed: {
    ...mapState(['auth'])
  },
  watch: {
    'auth.__status' (status) {
      console.log('AUTH:STATUS : ', status)
      if (status === 'loading') {
        this.$q.loading.show()
        return false
      }

      this.$q.loading.hide()
      this.$q.notify({
        color: status === 'success' ? 'green-4' : 'red-4',
        textColor: 'white',
        icon: 'fas fa-check-circle',
        message: this.auth.__message
      })

      if (status === 'success') {
        this.$router.replace('/')
      } else {
        this.$router.push('/complete-account')
      }
    }
  },
  methods: {
    ...mapActions({
      loginWithSocialMedia: 'auth/loginWithSocialMedia'
    })
  }
}
</script>

<style>
</style>
