<template>
  <q-dialog ref="dialog"
      @hide="onDialogHide"
      persistent
      :maximized="maximizedToggle"
      transition-show="slide-up"
      transition-hide="slide-down">
    <q-card class="bg-white text-black">
        <q-bar>
          <q-space />
          <!-- <q-btn dense flat icon="minimize" @click="maximizedToggle = false" :disable="!maximizedToggle">
            <q-tooltip v-if="maximizedToggle" content-class="bg-white text-primary">Minimize</q-tooltip>
          </q-btn>
          <q-btn dense flat icon="crop_square" @click="maximizedToggle = true" :disable="maximizedToggle">
            <q-tooltip v-if="!maximizedToggle" content-class="bg-white text-primary">Maximize</q-tooltip>
          </q-btn> -->
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>

        <q-card-section>
          <div class="text-h6 text-center">Upload Report</div>
        </q-card-section>

      <q-card-section>
        <div class="row flex-center">
          <q-form
            class="col-lg-4 col-xs-12 bg-white rounded-borders q-pa-md q-gutter-y-xs"
            @submit="onSubmit"
            @reset="onReset"
          >
            <div v-if="getProgram">
              <!-- <pre>{{ programOrder.program_orders[0] }}</pre> -->
              <!-- <pre>{{ programFid }}</pre> -->
              <div
                v-for="(i, j) in getProgram.month"
                :key="j"
                class="row q-gutter-md"
              >
                <q-input
                  :value="programDate[i]"
                  @input="update($event, i, 'programDate')"
                  :label="String(i)"
                  stack-label
                  filled
                  class="col q-mb-md"
                />
                <q-input
                  :value="programFid[i]"
                  @input="update($event, i, 'programFid')"
                  :label="String(i) + ' fid report'"
                  stack-label
                  filled
                  class="col q-mb-md"
                />
              </div>
            </div>

            <div class="q-mt-lg">
              <ul
                v-if="__validation"
                class="bg-red-7 text-white q-pa-md list-none"
                style="list-style-type:none;"
              >
                <li class="q-mb-md">Error when submit form:</li>
                <li v-for="i in __validation" :key="i">- {{ i.message }}</li>
              </ul>
              <div class="row q-gutter-md">
                <q-btn
                  label="Submit"
                  type="submit"
                  color="primary"
                  class="col no-border-radius"
                  unelevated
                  :rules="[
                    val => (val && val.length > 0) || 'Please type something'
                  ]"
                />
                <!-- <q-btn
              label="Reset"
              type="reset"
              color="primary"
              flat
              class="col-3"
            /> -->
              </div>
            </div>
          </q-form>
        </div>
      </q-card-section>

      <!-- buttons example -->
      <!-- <q-card-actions align="right">
        <q-btn color="primary" label="OK" @click="onOKClick" />
        <q-btn color="primary" label="Cancel" @click="onCancelClick" />
      </q-card-actions> -->
    </q-card>
  </q-dialog>
</template>

<script>
import { mapState } from 'vuex'
import { vuexSync } from 'boot/helpers'
export default {
  props: ['params'],
  data () {
    return {
      maximizedToggle: true,
      programDate: {},
      programFid: {},
      programOrderStatusOptions: [
        { label: 'Reject', value: 4 },
        { label: 'Approve', value: 2 },
        { label: 'Pending', value: 3 },
        { label: 'Active', value: 1 },
        { label: 'Inactive', value: 0 }
      ]
    }
  },
  computed: {
    getProgram () {
      console.log('PROGAM REPORT', this.params.ProgramReport)

      let program = this.params.Program
      if (program) {
        if (this.params.ProgramReport.length > 0) {
          program.month = this.params.ProgramReport
            .map(i => i.program_report_date)
            .sort((a, b) => {
              let x = Number(a.split('-')[1]) - Number(b.split('-')[1])
              return x
            })
        } else {
          var date1 = new Date(program.program_period_start)
          var date2 = new Date(program.program_period_finish)
          var daysOfYear = []
          // console.log(date1, date2)
          // eslint-disable-next-line no-unmodified-loop-condition
          for (var d = date1; d <= date2; d.setMonth(d.getMonth() + 1)) {
            let gd = new Date(d)
            let dd =
              gd.getFullYear() + '-' + ('0' + (gd.getMonth() + 1)).slice(-2)
            // let x = new Date(d).toISOString().substring(0, 7)
            daysOfYear.push(dd)
          }
          // console.log('result : ', daysOfYear)
          program.month = daysOfYear
        }
      }
      console.log('PROGRAM ', program)
      return program
    },
    ...mapState(['programOrder', 'programReport', 'user', 'program', 'auth']),
    ...vuexSync('programOrder', [
      'user_id',
      'program_id',
      'program_order_status',
      'program_order_sort',
      'true',
      'true',
      '__status',
      '__message',
      '__error',
      '__validation'
    ])
  },
  beforeCreate () {
    // this.$store.commit('programOrder/RESET')
  },
  created () {
    Object.assign(this.notify, {
      enable: true,
      loading: true,
      success: false
    })

    // load program report data
    if (this.params.ProgramReport.length > 0) {
      this.params.ProgramReport.forEach(i => {
        this.programDate[i.program_report_date] = i.program_report_total
      })
      this.params.ProgramReport.forEach(i => {
        this.programFid[i.program_report_date] = i.program_report_fid
      })
    }
  },
  watch: {
    programReport: {
      handler (val) {
        if (val.__status !== 'loading') {
          // console.log('load program report', val)
          this.$q.loading.hide()
          if (val.__status === 'success_update_program_order') {
            this.$q.notify('Update Report Berhasil')
            console.log('UPDATE RPOGRAM REPORT', val.result)
          } else {
            // this.programDate = {}
          }
          val.program_reports.forEach(i => {
            this.programDate[i.program_report_date] = i.program_report_total
          })
          val.program_reports.forEach(i => {
            this.programFid[i.program_report_date] = i.program_report_fid
          })
        }
      },
      deep: true
    }
  },
  methods: {
    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    onOKClick () {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok')
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    },
    update (e, i, type) {
      let x = {}
      x[i] = e
      this[type] = { ...this[type], ...x }
    },
    monthDiff (d1, d2) {
      var months
      months = (d2.getFullYear() - d1.getFullYear()) * 12
      months -= d1.getMonth() + 1
      months += d2.getMonth()
      return months <= 0 ? 0 : months
    },
    mergeAuthAfterUserUpdate (val) {
      if (val.__status === 'success_update_user') {
        if (Number(val.id) === Number(this.auth.id)) {
          let newuser = Object.keys(val).filter(i => i.indexOf('__') === -1 && !['users', 'created_at', 'updated_at', 'location_detail', 'user_status', 'code', 'parent'].includes(i))
          newuser.forEach((i) => {
            this.$store.commit(`auth/SET_${i.toUpperCase()}`, val[i])
          })
        }
      }
    },
    onSubmit () {
      // let action = this.$route.params.id ? 'update' : 'store'
      // let params = { id: this.$route.params.id, user_id: this.user_id, program_id: this.program_id, program_order_status: this.program_order_status, program_order_sort: this.program_order_sort }
      this.$q.loading.show()
      let p = this.params
      let params = {
        program_order_id: p.id,
        user_id: p.user_id,
        program_id: p.program_id,
        program_package_id: p.program_package_id,
        report_month: p.Program.month,
        report_data: this.programDate,
        report_fid: this.programFid
      }
      let ins = []
      params.report_month.forEach((i, j) => {
        ins.push({
          program_order_id: p.id,
          user_id: p.user_id,
          program_id: p.program_id,
          program_package_id: p.program_package_id,
          program_report_date: i,
          program_report_total: this.programDate[i] ? Number(this.programDate[i]) : 0,
          program_report_fid: this.programFid[i] ? Number(this.programFid[i]) : 0
        })
      })
      params.data = ins
      this.$store.dispatch('programReport/updateReport', params)
    },
    onReset () {
    }
  }
}
</script>
