<template>
  <div class="q-my-md q-pa-md">
    <!-- {{filters}} -->
        <div class="row q-gutter-md q-py-xs flex-center" v-for="(f, key) in filters" :key="key">
          <div class="col">
            <q-select
              :options="columns.filter(i => i.search).map(i => { return {label: i.label, value: `${i.name}:${i.type}`, dropdown: i.dropdown}})"
              v-model="filters[key].search"
              @input="filters[key].value=''"
              outlined dense square
              clearable
              label="field"
            />
          </div>
          <div class="col" v-if="filters[key].search && filters[key].search.dropdown">
            <q-select
              :options="filters[key].search.dropdown"
              v-model="filters[key].value"
              emit-value
              map-options
              outlined dense square
              clearable
              label="field"
            />
          </div>
          <div class="col" v-else>
            <q-select
              v-if="filters[key].search && filters[key].search.value.indexOf('_status') !== -1"
              :options="[{label:'active', value: 1}, {label:'inactive', value: 0}]"
              v-model="filters[key].value"
              emit-value
              map-options
              outlined dense square
              clearable
              label="field"
            />
            <q-input v-else label="value" :disable="!filters[key].search" outlined dense square v-model="filters[key].value" :type="filters[key].search && filters[key].search.value.indexOf('date') !== -1 ? 'date' : 'text'" clearable  />
          </div>
          <div class="">
            <q-btn icon="clear" color="red-3" round dense unelevated flat @click="filters.splice(key,1)" :disabled="filters.length <= 1"/>
          </div>
        </div>
        <!-- <div class="text-right">
          <q-btn label="add" unelevated  class="q-mt-md text-grey-6" no-caps icon="add" dense color="grey-1" square  @click="filters.push({search:'', value:''})"/>
        </div> -->

        <div class="row q-gutter-md q-py-md q-mt-xl ">
        <q-btn label="filter" class="col" color="primary" icon="filter_list" unelevated @click="$emit('filter-result', filters)" />
        <q-btn label="Reset" class="col-2" color="grey" outline unelevated @click="filters= [{ search: '', value: '' }]" />
        </div>
      </div>
</template>

<script>
export default {
  props: ['columns', 'values'],
  data () {
    return {
      filters: this.values || [{ search: '', value: '' }]
    }
  }
}
</script>

<style>

</style>
