<template>
    <q-dialog
            v-model="showFilterReward"
            persistent
            maximized
            @hide="$emit('close')"
          >
          <q-card class="">
            <!-- <pre>{{value}}</pre> -->
            <q-card-section class="row">
              <div class="col">
                <div class="text-h6">{{value.program_name}} </div>
                  <q-badge outline color="red" :label="`area ${value.Area && value.Area.area_name}`" class="q-mr-md text-lowercase"/>
                  <q-badge outline color="orange" :label="`program ${value.program_type ===1?'apresiasi' :'trip'}`" />
              </div>
              <div class="col-1">
              <q-btn dense flat icon="close" v-close-popup ><q-tooltip>Close</q-tooltip></q-btn>
              </div>
            </q-card-section>
                <q-card-section class="bg-grey-3">
                  <!-- <q-item-label caption>Program Name</q-item-label>
                  <q-item-label class="q-mb-md">{{
                    value.program_name
                  }}</q-item-label> -->

                  <!-- <q-item-label caption>Tipe Dealer</q-item-label>
                  <q-item-label class="q-mb-md">{{
                    value.program_dealer_type === "RCD"
                      ? "Brotherhood"
                      : "Non Brotherhood"
                  }}</q-item-label> -->

                  <!-- <q-item-label caption>Reward</q-item-label>
                  <q-item-label class="q-mb-md">{{
                    value.program_type === 1 ? "Uang" : "Trip"
                  }}</q-item-label> -->

                  <!-- <q-item-label caption>Area</q-item-label>
                  <q-item-label class="q-mb-md">{{
                    value.Area && value.Area.area_name
                  }}</q-item-label> -->

                  <q-item-label caption>Periode</q-item-label>
                  <q-item-label class="q-mb-md"
                    >{{ getPeriodDate(value.program_period_start) }}-{{
                      getPeriodDate(value.program_period_finish, {
                        year: "numeric"
                      })
                    }}
                    <span class="text-grey text-xs"
                      >(semester {{ value.program_semester }})</span
                    ></q-item-label
                  >

                  <!-- <q-item-label caption>Tipe Program</q-item-label>
                  <q-item-label class="q-mb-md">{{ getGrowthType }}</q-item-label> -->
                </q-card-section>

                <q-card-section class="bg-white">
                    <q-list>
                      <q-item-label header class="text-capitalize">Paket {{ value.program_type}}</q-item-label>
                      <q-item v-for="i in value.ProgramPackage" :key="i.id" style="border:none;border-bottom:1px dashed #ccc !important;">
                          <q-item-section avatar>
                              <q-avatar color="white">
                                <img :src="i.program_type === 1 ? 'https://img.icons8.com/bubbles/50/000000/money.png' : 'https://img.icons8.com/bubbles/50/000000/airplane-take-off.png' ">
                              </q-avatar>
                          </q-item-section>
                          <q-item-section>
                            <q-item-label caption class="text-bold">target {{i.program_package_target}}</q-item-label>
                            <q-item-label caption v-if="value.program_type === 'apresiasi'"><q-badge outline color="red" class="text-bold q-pa-xs">{{new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(i.program_package_reward_money)}}</q-badge></q-item-label>
                            <q-item-label caption v-else><q-badge outline color="red" class="text-bold q-pa-xs">{{i.program_package_reward_trip}}</q-badge></q-item-label>
                          </q-item-section>
                          <q-item-section side>
                              <q-radio v-model="selectedPackage" :val="i.id" />
                          </q-item-section>
                      </q-item>
                    </q-list>
                </q-card-section>

                <q-card-section class="q-pt-xl">
                <q-checkbox label="" :value="term" />
                <a href="" @click.prevent="showTerm">Term Condition</a>
                <!-- <div :class="[term?'text-black':'text-grey-8','q-pa-md border']">
                  {{value.program_term_condition.substring(0,100)}}
                </div> -->

                <q-btn type="submit" v-if="type !== 'upgrade'" :disable="!term" label="daftar" class="full-width q-mt-md" color="orange" @click="processReward" />
                <q-btn type="submit" v-else :disable="!term" label="upgrade" class="full-width q-mt-md" color="orange" @click="upgradeReward" />
              </q-card-section>

            </q-card>
          </q-dialog>
</template>

<script>
import TermComponent from './Term'

export default {
  data () {
    return {
      term: false,
      selectedPackage: null,
      showFilterReward: false
    }
  },
  props: ['value', 'show', 'type'],
  computed: {
    getGrowthType () {
      return this.value.program_growth === 2 ? 'Agresif' : 'Pesimis'
    }
  },
  watch: {
    show (val) {
      console.log('WATCH PROPS ', val)
      this.showFilterReward = val
    },
    '$store.state.program': {
      handler (val) {
        if (val.__status !== 'loading') {
          if (val.__status !== 'success_load_program') {
          // reset form package
            this.selectedPackage = null
            this.term = false

            if (val.__status === 'success_daftar_program') {
              // this.$store.dispatch('notification/index', { show: 'all', search: `user_id:${this.$store.state.auth.id}:integer, notification_status:1:integer` })
              this.$store.dispatch('notification/count', { notification_status: 1 })
              this.$router.replace('/thank-you')
            } else {
              this.$q.notify(val.__message)
              this.$emit('close')
            }

            if (val.__status === 'success_update_program') {
              this.$emit('close')
            }
          }
        }
      },
      deep: true
    }
  },
  methods: {
    showTerm () {
      this.$q.dialog({
        component: TermComponent,

        // optional if you want to have access to
        // Router, Vuex store, and so on, in your
        // custom component:
        parent: this, // becomes child of this Vue node
        // ("this" points to your Vue component)
        // (prop was called "root" in < 1.1.0 and
        // still works, but recommending to switch
        // to the more appropriate "parent" name)

        // props forwarded to component
        // (everything except "component" and "parent" props above):
        text: this.value.program_term_condition
        // ...more.props...
      }).onOk(() => {
        console.log('OK')
        this.term = true
      }).onCancel(() => {
        console.log('Cancel')
      }).onDismiss(() => {
        console.log('Called on OK or Cancel')
      })
    },
    getPeriodDate (date, year) {
      return new Date(date).toLocaleString('id-ID', {
        month: 'short',
        ...year
      })
    },
    processReward () {
      if (!this.selectedPackage) {
        this.$q.notify('Anda belum memilih Paket Reward')
        return false
      }
      let reward = this.value.ProgramPackage.filter(i => i.id === this.selectedPackage)[0]
      console.log('REWRRD ', reward)
      this.$store.dispatch('program/daftar', reward)
    },
    upgradeReward () {
      if (!this.selectedPackage) {
        this.$q.notify('Anda belum memilih Paket Reward')
        return false
      }
      let reward = this.value.ProgramPackage.filter(i => i.id === this.selectedPackage)[0]
      console.log('REWRRD ', reward)
      this.$store.dispatch('program/upgrade', reward)
    }
  }
}
</script>

<style>

</style>
