<template>
  <q-dialog ref="dialog" @hide="onDialogHide" :maximized="$q.screen.lt.lg?true:false" size="medium">
      <q-card class="q-dialog-plugin" :style="$q.screen.lt.lg ? '': 'width: 700px; max-width: 80vw;'">
        <q-card-section class="flex justify-between items-center bg-grey-6" >
          <div class="text-uppercase text-bold">Statistik Program </div>
          <q-btn icon="close" flat round dense v-close-popup class="" />
        </q-card-section>
        <q-card-section  >
            <!-- <pre>{{programOrder}}</pre>
            <pre>{{value}}</pre> -->
            <div v-if="programOrder.__status === 'loading' || user.__status === 'loading'" class="text-center q-pa-md">
              <q-spinner size="lg" />
            </div>
            <div v-else class="q-pa-md">
              <div class="q-mb-sm text-lowercase">Total user yang bisa ikut program  {{value.program_name}} area {{value.Area.area_name}} : <span class="text-bold">{{user.users.length}}</span> </div>
              <div class="q-mb-sm text-lowercase">Total user yang sudah ikut program {{value.program_name}} area {{value.Area.area_name}} : <span class="text-bold">{{programOrder.program_orders.length}}</span> </div>
              <div class="q-mb-sm text-lowercase">Persentase Keikutsertaan Program:  <span class="text-bold"> {{(parseFloat(Number(programOrder.program_orders.length) / Number(user.users.length) * 100)).toFixed(2)}}%</span></div>
            </div>
        </q-card-section>
      </q-card>
  </q-dialog>
</template>

<script>
import { mapState } from 'vuex'
export default {
  props: ['value'],
  created () {
    this.$store.dispatch('programOrder/index', { 'show': 'all', 'search': `program_orders.program_id:${this.value.id}:integer` })
    let src = { show: 'all' }
    if (this.value.Area.id !== 5) {
      src['search'] = `users.area_id:${this.value.Area.id}:integer`
    }
    this.$store.dispatch('user/index', src)
  },
  computed: {
    ...mapState(['programOrder', 'user'])
  },
  methods: {
    // dialog method
    show () {
      this.$refs.dialog.show()
    },
    hide () {
      this.$refs.dialog.hide()
    },
    onDialogHide () {
      this.$emit('hide')
    },
    onOKClick () {
      this.$emit('ok')
      this.hide()
    },
    onCancelClick () {
      this.hide()
    }
  }
}
</script>

<style></style>
