<template>
  <q-dialog ref="dialog" @hide="onDialogHide">
    <q-card class="q-dialog-plugin">

      <q-carousel
        swipeable
        animated
        arrows
        v-model="slide"
        infinite
        control-color="red"
      >
        <q-carousel-slide v-for="(i,j) in message" :key="j" :name="j" class="text-center">
          <img :src="getImgUrl(`api/uploads/${i}`)" width="100%" />
          <q-btn @click="() => openInBrowser(getImgUrl(`api/uploads/${i}`))" flat label="open in browser" dense />
        </q-carousel-slide>
      </q-carousel>

       <q-card-actions align="right">
        <q-btn color="primary" flat label="Close" icon="close" @click="onCancelClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  data () {
    return {
      slide: 0
    }
  },
  props: ['message'],

  methods: {
    openInBrowser (url) {
      window.open(url, '_blank')
    },
    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    onOKClick () {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok')
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    }
  }
}
</script>
