<template>
  <div>
    <!-- <div v-if="$store.state.program.programs.length > 0"> -->
      <package-program :value="getProgramPackage()" :show="showPackageReward" @close="close" type="upgrade"  />
    <!-- </div> -->
    <q-card>
      <!-- <pre>{{ value }}</pre> -->
      <!-- <pre>{{ value.program_order_status }}</pre> -->
      <!-- <q-banner v-if="value.program_order_status === 3" class="bg-red text-white q-mb-md">Menunggu approval administrator</q-banner>
      <q-banner v-if="value.program_order_status === 3" class="bg-red text-white q-mb-md">Menunggu approval administrator</q-banner> -->
      <div class="q-pa-sm text-center text-red text-uppercase bg-red-2 text-bold" v-if="history">history</div>
      <!-- <div v-html="value.program_order_status"></div> -->
      <div class="q-pa-xs text-right" ><q-badge class="q-pa-sm text-bold text-uppercase" :color="value.order_status===2?'green':value.order_status===3 ? 'orange' : value.order_status===4 ? 'text-red' : 'text-grey' "> status : {{value.order_status === 3 ? 'waiting approval' : value.order_status === 2 ? 'approved' : value.order_status === 4 ? 'rejected' : value.program_order_status}}</q-badge></div>

      <q-card-section class="">
        <!-- <q-item-label caption>Order ID</q-item-label>
        <q-item-label class="q-mb-md">#{{
          value.id
        }}</q-item-label> -->
        <q-item-label caption>Program Name</q-item-label>
        <q-item-label class="q-mb-md">{{
          value.Program.program_name
        }}</q-item-label>

        <!-- <q-item-label caption>Tipe Dealer</q-item-label>
        <q-item-label class="q-mb-md">{{
          value.Program.program_dealer_type === "RCD"
            ? "Brotherhood"
            : "Non Brotherhood"
        }}</q-item-label> -->

        <!-- <q-item-label caption>Tipe Reward</q-item-label>
        <q-item-label class="q-mb-md">{{
          value.Program.program_type === 1 ? "Uang" : "Trip"
        }}</q-item-label> -->

        <q-item-label caption>Area</q-item-label>
        <q-item-label class="q-mb-md">{{
          value.Program.Area.area_name
        }}</q-item-label>

        <q-item-label caption>Periode</q-item-label>
        <q-item-label class="q-mb-md"
          >{{ getPeriodDate(value.Program.program_period_start) }}-{{
            getPeriodDate(value.Program.program_period_finish, {
              year: "numeric"
            })
          }}
          <span class="text-grey text-xs"
            >(semester {{ value.Program.program_semester }})</span
          ></q-item-label
        >

        <!-- <q-item-label caption>Tipe Program</q-item-label>
        <q-item-label class="q-mb-md">{{ getGrowthType }}</q-item-label> -->
      </q-card-section>

      <q-separator />
      <q-card-section class="bg-green-2">
        <q-item-label caption>Reward Paket</q-item-label>
        <q-item-label v-if="value.Program.program_type === 1"
          >
          <span class="text-blue text-bold"
            >IDR {{ getRewardMoney }}</span
          ></q-item-label
        >
        <q-item-label v-if="value.Program.program_type === 2"
          >
          <span>{{
            value.ProgramPackage.program_package_reward_trip
          }}</span></q-item-label
        >
      </q-card-section>
      <q-separator />
      <q-card-section>
        <q-item-label caption>Target</q-item-label>
        <q-item-label class="text-bold">{{
          value.ProgramPackage.program_package_target
        }}</q-item-label>

        <q-item-label caption>Progress</q-item-label>
        <q-item-label class="text-bold">{{ getProgress }}</q-item-label>

        <q-item-label caption>achievement</q-item-label>
        <q-item-label class="text-bold">{{ getAchievment }}%</q-item-label>
      </q-card-section>

      <q-separator />
      <q-card-section>
        <q-item-label caption class="q-mb-sm">Progress</q-item-label>
        <q-linear-progress
          size="25px"
          :value="getAchievmentProgress"
          color="blue"
          style="height:24px;"
        >
          <div class="absolute-full flex flex-center">
            <q-badge
              color="red"
              text-color="white"
              :label="`${getAchievment}%`"
            />
          </div>
        </q-linear-progress>
      </q-card-section>
      <q-separator class="q-mb-md" />

      <q-card-section>
        <q-tabs
          v-model="tabReport"
          dense
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
          narrow-indicator
        >
          <q-tab name="sales" label="Sales" />
          <q-tab name="fid" label="FID" />
        </q-tabs>
        <q-separator />
        <q-tab-panels v-model="tabReport" animated>
          <q-tab-panel name="sales">
            <apexchart type="line" :options="options1" :series="series1"></apexchart>
          </q-tab-panel>
          <q-tab-panel name="fid">
            <apexchart type="line" :options="options2" :series="series2"></apexchart>
          </q-tab-panel>
        </q-tab-panels>
      </q-card-section>

      <q-separator class="q-mb-md" />
      <q-card-section v-if="!isHistory">
        <q-btn
          class="full-width"
          color="orange"
          label="Saya Ingin Upgrade Paket"
          @click="showPackageReward = true"
          :disable="value.order_status !== 2 ? true: false"
        />
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import PackageProgram from '../components/PackageProgram'

export default {
  components: {
    apexchart: () => import('vue-apexcharts'),
    PackageProgram: PackageProgram
  },
  data () {
    return {
      tabReport: 'sales',
      isHistory: this.history || false,
      showPackageReward: false,
      selectedReward: null,
      options1: {
        tooltip: {
          enabled: true,
          enabledOnSeries: true
        },
        dataLabels: {
          enabled: true,
          enabledOnSeries: true
        },
        chart: {
          id: 'sales'
        },
        xaxis: {
          categories: []
        }
      },
      options2: {
        tooltip: {
          enabled: true,
          enabledOnSeries: true,
          y: {
            formatter: function (val, opts) {
              return val + '%'
            },
            title: {
              formatter: (seriesName) => `${seriesName}`
            }
          }
        },
        dataLabels: {
          enabled: true,
          enabledOnSeries: true,
          formatter: function (val, opts) {
            return val + '%'
          }
        },
        chart: {
          id: 'FID'
        },
        xaxis: {
          categories: []
        }
      },
      series1: [
        {
          name: 'sales',
          data: []
        }
      ],
      series2: [
        {
          name: 'sales',
          data: []
        }
      ]
    }
  },
  props: ['value', 'history'],
  created () {
    this.updateChart()
    // this.$store.dispatch('program/index', { show: 'all', search: `programs.id:${this.value.program_id}:integer` })
  },
  computed: {
    getProgress () {
      return this.value.ProgramReport.length > 0
        ? parseFloat(this.value.ProgramReport.map(i => i.program_report_total).reduce(
          (a, b) => parseFloat(a) + parseFloat(b)
        )).toFixed(2)
        : 0
    },
    getAchievment () {
      console.log('get progress', this.getProgress)
      return Math.round((this.getProgress / Number(this.value.ProgramPackage.program_package_target)) * 100)
    },
    getAchievmentProgress () {
      return this.getAchievment / 100
    },
    getRewardMoney () {
      return new Intl.NumberFormat('id-ID').format(
        this.value.ProgramPackage.program_package_reward_money
      )
    },
    getGrowthType () {
      return this.value.Program.program_growth === 2 ? 'Agresif' : 'Pesimis'
    }
  },
  methods: {
    getProgramPackage () {
      console.log('asdfadfasd', this.value)
      let program = Object.assign({}, this.value.Program)
      program.ProgramPackage = program.ProgramPackage.filter(i => Number(i.id) !== Number(this.value.ProgramPackage.id))
      return program
    },
    close () {
      this.showPackageReward = false
      // semua data yang ada dihalaman fetch content difetch dari program order
      this.$store.dispatch('programOrder/index', { show: 'all', search: `program_orders.user_id:${this.$store.state.auth.id}:integer` })
      this.updateChart()
    },
    updateChart () {
      if (this.value.ProgramReport.length > 0) {
        this.series1[0].data = this.value.ProgramReport.map(
          i => i.program_report_total
        )
        this.series2[0].data = this.value.ProgramReport.map(
          i => i.program_report_fid
        )
        this.options1 = {
          ...this.options1,
          ...{
            xaxis: {
              categories: this.value.ProgramReport.map(i =>
                new Date(i.program_report_date).toLocaleString('default', {
                  month: 'short'
                })
              )
            }
          }
        }
        this.options2 = {
          ...this.options2,
          ...{
            xaxis: {
              categories: this.value.ProgramReport.map(i =>
                new Date(i.program_report_date).toLocaleString('default', {
                  month: 'short'
                })
              )
            }
          }
        }
      }
    },
    getPeriodDate (date, year) {
      return new Date(date).toLocaleString('id-ID', {
        month: 'short',
        ...year
      })
    }
  }
}
</script>

<style></style>
