<template>
  <q-dialog ref="dialog" @hide="onDialogHide" :maximized="$q.screen.lt.lg?true:false">
      <q-card class="q-dialog-plugin">
        <q-card-section class="text-right">
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-card-section>
          <tab-content :value="value" :history="history" />
        </q-card-section>
         <q-card-section class="text-right">
          <q-btn icon="close" label="close" color="red" outline v-close-popup class="full-width" />
        </q-card-section>
      </q-card>
  </q-dialog>
</template>

<script>
import TabContent from '../components/TabContent'
export default {
  components: {
    TabContent: TabContent
  },
  props: ['value', 'history'],
  methods: {
    // dialog method
    show () {
      this.$refs.dialog.show()
    },
    hide () {
      this.$refs.dialog.hide()
    },
    onDialogHide () {
      this.$emit('hide')
    },
    onOKClick () {
      this.$emit('ok')
      this.hide()
    },
    onCancelClick () {
      this.hide()
    }
  }
}
</script>

<style></style>
