<template>
  <q-dialog ref="dialog" @hide="onDialogHide" full-width>
    <q-card class="q-dialog-plugin">
      <q-card-section>
        <div class="text-h6">Syarat dan Ketentuan</div>
        <div class="text-subtitle2">https://dealerprogram.id</div>
      </q-card-section>
      <q-card-section>
          {{text}}
      </q-card-section>
      <!-- buttons example -->
      <q-card-actions align="left">
        <q-btn color="primary" label="Setuju" @click="onOKClick" />
        <!-- <q-btn color="primary" label="Cancel" @click="onCancelClick" /> -->
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  name: 'TermComponent',
  props: ['text'],
  methods: {
    // following method is REQUIRED
    // (don't change its name --> "show")
    show () {
      this.$refs.dialog.show()
    },

    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide () {
      this.$refs.dialog.hide()
    },

    onDialogHide () {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide')
    },

    onOKClick () {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok')
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide()
    },

    onCancelClick () {
      // we just need to hide dialog
      this.hide()
    }
  }
}
</script>
