<template>
  <q-dialog v-model="show" maximized>
    <div class="" style="max-width:30rem">
      <div class="q-gutter-md">
        <q-carousel v-model="slide" autoplay swipeable infinite animated control-color="black" navigation padding height="100vh" class="bg-white shadow-1">
          <template v-slot:control>
            <q-carousel-control position="top-right" :offset="[18, 18]" class="q-gutter-xs">
              <q-btn flat round dense label="" icon="close" no-caps @click="$emit('toggle')" color="grey-8" />
            </q-carousel-control>
          </template>
          <q-carousel-slide name="first" class="flex flex-center column text-center">
            <img src="https://img.icons8.com/clouds/300/000000/survey.png" class="q-mb-xl" />
            <div class="q-mt-xl">
              <div class="text-h3 q-mb-md">Manage</div>
              <div class="text-subtitle1 text-grey-8">Manage the progress of the task completion,<br /> track the time and analyze the stats</div>
            </div>
          </q-carousel-slide>
          <q-carousel-slide name="second" class="flex flex-center column text-center">
            <img src="https://img.icons8.com/clouds/300/000000/planner.png" class="q-mb-xl" />
            <div class="q-mt-xl">
              <div class="text-h3 q-mb-md">Share</div>
              <div class="text-subtitle1 text-grey-8">Share the task and update with your team,<br /> conveniently for higher productivity</div>
            </div>
          </q-carousel-slide>
          <q-carousel-slide name="third" class="flex flex-center column text-center">
            <img src="https://img.icons8.com/clouds/300/000000/approval.png" class="q-mb-xl" />
            <div class="q-mt-xl">
              <div class="text-h3 q-mb-md">Keep</div>
              <div class="text-subtitle1 text-grey-8">Keep various way to contact and get in touch<br /> easily right from the app</div>
            </div>
            <q-btn label="Let start" no-caps class="q-mt-md q-px-xl" color="primary" rounded  @click="$emit('toggle')"/>
          </q-carousel-slide>
        </q-carousel>
      </div>
    </div>
  </q-dialog>
</template>
<script>
export default {
  props: ['tour'],
  data () {
    return {
      show: this.tour || false,
      slide: 'first'
    }
  },
  created () {
    console.log('tour', this.tour)
  },
  methods: {},
  watch: {
    tour (val) { // watch it
      this.show = val
    }
  }
}
</script>
<style scoped>
.custom-caption{
  text-align: center;
  padding: 12px;
  color: white;
  background-color: rgba(0, 0, 0, .3);
}
</style>
