// app global css
body
  background-color: #efefef
.border
  border: 1px solid #efefef
// .layout-width
//   max-width: 30rem
//   margin: 0 auto
//   background-color: #fff
  .q-table--grid .q-table__middle
    overflow: auto
    padding-left: 15px
  .q-table--grid .q-table__middle thead tr
    background-color: transparent !important
  .q-table--grid .q-table__middle thead th
    padding: 5px !important
