
<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
/* eslint-disable no-undef */
import { mapState } from 'vuex'
import { vuexSync } from 'boot/helpers'
export default {
  name: 'App',
  created () {
    console.log('initiaalize app')
  },
  computed: {
    ...mapState(['auth']),
    ...vuexSync('auth', ['__status', '__message', '__error'])
  },
  watch: {
    '__status': {
      handler (status) {
        if (status === 'unauthorized') {
          this.$q.notify({
            color: 'red-4',
            textColor: 'white',
            icon: 'fas fa-check-circle',
            message: 'USER IS UNAUTHORIZED, PLEASE LOGIN BACK'
          })
          this.$q.loading.hide()
          this.$store.dispatch('auth/logout', null, { root: true })
          let redirectTo = this.$route.path.indexOf('/admin') !== -1 ? '/admin/login' : '/login'
          this.$router.push(redirectTo)
          return false
        }

        // if (status === 'api_need_update') {
        //   this.$q.notify({
        //     color: 'red-4',
        //     textColor: 'white',
        //     icon: 'fas fa-check-circle',
        //     message: 'Sory, Application need update, please login back'
        //   })
        this.$q.loading.hide()
        // this.$store.dispatch('auth/logout', null, { root: true })
        // let redirectTo = this.$route.path.indexOf('/admin') !== -1 ? '/admin/login' : '/login'
        // this.$router.push(redirectTo)
        return false
      }
    },
    deep: true
  },
  mounted () {
    console.log('APP Mounted')
    document.addEventListener('deviceready', () => {
      console.log('codepush sync ok')
      if (this.$q.platform.is.cordova) {
        codePush.sync()
      }
    })
  }
}
</script>

<style>
</style>
