<template>

  <q-layout  view="lHh lpR fFf" class="bg-white">
    <q-header v-if="!(/\w+\/form/).test($route.path)" class="bg-white text-black"  bordered>
      <q-toolbar>
        <q-btn flat @click="drawerLeft = !drawerLeft" round dense icon="menu" />
        <q-toolbar-title class="text-uppercase">{{
          putSpaceInCamelCase($route.meta.title)
        }}</q-toolbar-title>
        <!-- <div class="q-mr-md">Hi {{ auth.username + " (" + getRole(Number(auth.user_role)) + ")" }}</div>
        <q-avatar size="md" @click="$router.push({path:`/admin/user/form/${auth.id}`})">
          <img :src="getImage(auth.avatar, 'https://cdn.quasar.dev/img/boy-avatar.png')">
        </q-avatar> -->
      </q-toolbar>
    </q-header>
    <q-header v-else class="bg-white text-black" bordered >
      <q-toolbar>
        <q-btn flat @click="$router.go(-1)" round dense icon="arrow_back_ios" />
        <q-toolbar-title class="text-uppercase">
          {{
          putSpaceInCamelCase($route.meta.title)
        }}</q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="drawerLeft"
      :show-if-above="$route.params.id ? false : true"
      side="left"
      :persistent="false"
    >
      <q-scroll-area style="height: calc(100% - 170px); margin-top: 170px;">
        <q-list v-for="(menuItem, index) in menuList" :key="index">

          <q-item
            clickable
            :active="menuItem.name === $route.name"
            exact-active-class="text-blue"
            v-ripple
            @click="
              menuItem.label === 'Logout'
                ? logout()
                : $router.push({ name: menuItem.name })
            "
          >
            <q-item-section avatar>
              <q-icon :name="menuItem.icon" />
            </q-item-section>
            <q-item-section>
              {{ menuItem.label }}
              <div v-if="menuItem.label === 'notification'">
                  <q-badge v-if="$store.state.notification.total_notification.length > 0" class="" :label="$store.state.notification.total_notification.length" color="red" />
              </div>
            </q-item-section>
          </q-item>

          <q-separator v-if="menuItem.separator" />
        </q-list>
      </q-scroll-area>
      <q-img class="absolute-top" :src="getImage(auth.cover, 'https://cdn.quasar.dev/img/material.png')" style="height: 170px"  @click="$router.push({path:`/admin/user/form/${auth.id}`})">
          <div class="absolute-full flex justify-end items-start column" >
            <q-avatar size="56px" class="q-mb-sm">
              <img :src="getImage(auth.avatar, 'https://cdn.quasar.dev/img/boy-avatar.png')" class="bg-white">
            </q-avatar>
            <div class="text-weight-bold">{{auth.username}}</div>
            <div>{{auth.email}}</div>
          </div>
      </q-img>
    </q-drawer>

    <q-page-container class="bg-grey-2">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'
import { mapState } from 'vuex'

export default {
  name: 'BlankLayout',
  data () {
    return {
      drawerLeft: false,
      logoutMenu: {
        name: 'Logout',
        icon: 'logout',
        label: 'Logout',
        separator: false,
        click: 'logout'
      },
      menuList: [
        {
          name: 'AdminIndex',
          icon: 'home',
          label: 'Dashboard',
          level: 1,
          separator: false
        },
        {
          name: 'Area',
          icon: 'location_city',
          label: 'Area',
          level: 2,
          separator: false
        },
        {
          name: 'Branch',
          icon: 'store_mall_directory',
          label: 'Branch',
          level: 2,
          separator: false
        },
        {
          name: 'User',
          icon: 'person',
          label: 'User',
          level: 2,
          separator: false
        },
        // {
        //   name: 'Token',
        //   icon: 'person',
        //   label: 'token',
        //   separator: false
        // },
        {
          name: 'Program',
          level: 2,
          icon: 'insert_chart',
          label: 'Program',
          separator: false
        },
        {
          name: 'ProgramOrder',
          level: 2,
          icon: 'loyalty',
          label: 'Order',
          separator: false
        },
        //         // {
        //   name: 'ProgramPackage',
        //   icon: 'person',
        //   label: 'program package',
        //   separator: false
        // }
        {
          name: 'Notification',
          icon: 'notification_important',
          label: 'notification',
          separator: false
        },
        {
          name: 'Trenharga',
          icon: 'bar_chart',
          label: 'Trenharga',
          level: 2,
          separator: false
        }
        // {
        //   name: 'ProgramReport',
        //   icon: 'pie_chart',
        //   label: 'program report',
        //   separator: false
        // }
      ]
    }
  },
  created () {
    if (this.auth.user_role < 4) {
      this.menuList = this.menuList.filter(i => i.level < 2)
    }
    this.menuList.push(this.logoutMenu)
    this.$store.dispatch('notification/count', { notification_status: 1 })
  },
  methods: {
    getImage (i, defaultImg = 'http://satyr.io/200-250x300') {
      if (!i) {
        return defaultImg
      } else {
        let img = i.split(',')[0]
        return (img.indexOf('http') !== -1) ? img : `${this.API_URL}/uploads/${img}`
      }
    },
    getRole (role) {
      let user = [
        { label: 'Member', value: 0 },
        { label: 'Admin', value: 2 },
        { label: 'Superuser', value: 4 }
      ]
      console.log('xxx', role)
      let roles = user.filter(i => i.value === role)
      if (roles.length > 0) {
        return roles[0].label
      } else {
        return undefined
      }
    },
    openURL,
    rightBtnClick () {
      this.$router.push({ path: `${this.$route.path}/form` })
    },
    logout () {
      if (this.auth.token) {
        this.$store.dispatch('auth/logout')
        this.$router.replace('/admin/login')
      } else {
        this.$router.replace('/admin/login')
      }
    }
  },
  computed: mapState(['auth']),
  watch: {}
}
</script>

<style>
body.cordova header {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}
</style>
