<template>
    <q-layout
      view="lHh lpr lFf"
      class="bg-white"
    >
      <q-page-container>
        <router-view />
      </q-page-container>
    </q-layout>
</template>

<script>
import { openURL } from 'quasar'
import { mapState } from 'vuex'

export default {
  name: 'BlankLayout',
  data () {
    return {
    }
  },
  created () {
    console.log(this.$route)
  },
  methods: {
    openURL,
    rightBtnClick () {
      // if (this.$route.name === 'Channel') {
      this.$router.push({ path: `${this.$route.path}/form` })
      // }
    },
    authLink () {
      if (this.auth.token) {
        this.$store.dispatch('auth/logout')
        this.$router.push('/login')
      } else {
        this.$router.push('/login')
      }
    }
  },
  computed: mapState(['auth']),
  watch: {}
}
</script>

<style>
body.cordova header {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}
</style>
