<template>
    <q-layout
      view="lHh lpr lFf"
      class="bg-white"
    >

      <q-header
        unelevated
      >
        <q-toolbar>
          <q-btn
            flat
            @click="drawerLeft = !drawerLeft"
            round
            dense
            icon="menu"
          />
          <q-toolbar-title>{{putSpaceInCamelCase($route.name)}}</q-toolbar-title>
          <q-btn
            flat
            round
            dense
            icon="notification_important"
            class=""
            to="/notifikasi"
          >
          <q-badge v-if="$store.state.notification.total_notification.length > 0" class="" :label="$store.state.notification.total_notification.length" color="red" />
          </q-btn>
        </q-toolbar>
      </q-header>

      <q-drawer
        v-model="drawerLeft"
        content-class="bg-black text-white"
        :width="300"
        :breakpoint="1000"
        show-if-above
      >

        <q-scroll-area style="height: calc(100% - 170px); margin-top: 170px;">
          <div v-if="auth.token">
            <q-list
              v-for="(menuItem, index) in menuList"
              :key="index"
            >
              <q-item
                style="min-height:50px;"
                clickable
                exact-active-class="text-blue"
                v-ripple
                :to="{name:menuItem.name}"
              >
                <q-item-section avatar>
                  <q-icon :name="menuItem.icon" />
                </q-item-section>
                <q-item-section>
                  {{ menuItem.label }}
                </q-item-section>
              </q-item>

              <q-separator v-if="menuItem.separator" />
            </q-list>
          </div>

          <q-list>
            <q-item
              v-if="auth.token"
              style="min-height:50px;"
              clickable
              exact-active-class="text-blue"
              v-ripple
              :to="`/admin/user/form/${auth.id}`"
            >
              <q-item-section avatar>
                <q-icon name="person" />
              </q-item-section>
              <q-item-section>
                Profile
              </q-item-section>
            </q-item>
          </q-list>
          <q-list>
            <q-item
              v-if="auth.user_role > 2"
              style="min-height:50px;"
              clickable
              exact-active-class="text-blue"
              v-ripple
              :to="{name:'AdminIndex'}"
            >
              <q-item-section avatar>
                <q-icon name="security" />
              </q-item-section>
              <q-item-section>
                Administrator
              </q-item-section>
            </q-item>
          </q-list>
          <q-list v-if="auth.token">
            <q-item
              style="min-height:50px;"
              clickable
              exact-active-class="text-blue"
              v-ripple
              @click="logout"
            >
              <q-item-section avatar>
                <q-icon name="logout" />
              </q-item-section>
              <q-item-section>
                Logout
              </q-item-section>
            </q-item>
          </q-list>
          <q-list v-else>
            <q-item
              style="min-height:50px;"
              clickable
              exact-active-class="text-blue"
              v-ripple
              :to="{name:'LoginWithEmail'}"
            >
              <q-item-section avatar>
                <q-icon name="logout" />
              </q-item-section>
              <q-item-section>
                Login
              </q-item-section>
            </q-item>
          </q-list>
        </q-scroll-area>

         <q-img class="absolute-top shadow-2" :src="getImage(auth.cover, 'https://cdn.quasar.dev/img/material.png')" style="height: 180px"  @click="$router.push({path:`/admin/user/form/${auth.id}`})">
            <div class="absolute-full flex justify-end items-start column" >
              <q-avatar size="56px" class="q-mb-sm">
                <img :src="getImage(auth.avatar, 'https://cdn.quasar.dev/img/boy-avatar.png')" class="bg-white">
              </q-avatar>
              <div class="text-weight-bold">{{auth.username}}</div>
              <div>{{auth.email}}</div>
              <div>Dealer {{auth.dealer_name}} ({{auth.Area && auth.Area.area_name}})</div>
              <div>{{auth.dealer_type === 'RCD' ? 'Non Brotherhood' : 'Brotherhood'}}</div>
            </div>
        </q-img>
      </q-drawer>

      <q-page-container>
        <router-view />
      </q-page-container>
    </q-layout>
</template>

<script>
import { openURL } from 'quasar'
import { mapState } from 'vuex'
const menuList = [
  {
    icon: 'home',
    label: 'Home',
    name: 'Home',
    separator: false
  },
  {
    icon: 'date_range',
    label: 'Program',
    name: 'DaftarProgram',
    separator: false
  },
  {
    icon: 'bar_chart',
    label: 'My Program',
    name: 'MyProgram',
    separator: false
  },
  {
    icon: 'notification_important',
    label: 'Notifikasi',
    name: 'Notifikasi',
    separator: false
  }
]
export default {
  name: 'BlankLayout',
  data () {
    return {
      drawerLeft: false,
      menuList
    }
  },
  created () {
    // this.$store.dispatch('notification/index', { show: 'all', search: `user_id:${this.$store.state.auth.id}:integer, notification_status:1:integer` })
    this.$store.dispatch('notification/count', { notification_status: 1 })
  },
  methods: {
    getImage (i, defaultImg = 'http://satyr.io/200-250x300') {
      if (!i) {
        return defaultImg
      } else {
        let img = i.split(',')[0]
        return (img.indexOf('http') !== -1) ? img : `${this.API_URL}/uploads/${img}`
      }
    },
    getRole (role) {
      let user = [
        { label: 'Member', value: 0 },
        { label: 'Admin', value: 2 },
        { label: 'Superuser', value: 4 }
      ]
      let roles = user.filter(i => i.value === role)
      if (roles.length > 0) {
        return roles[0].label
      } else {
        return undefined
      }
    },
    openURL,
    rightBtnClick () {
      this.$router.push({ path: `${this.$route.path}/form` })
    },
    authLink () {
      if (this.auth.token) {
        this.$store.dispatch('auth/logout')
        this.$router.push('/login')
      } else {
        this.$router.push('/login')
      }
    },
    logout () {
      if (this.auth.token) {
        this.$store.dispatch('auth/logout')
        this.$router.replace('/login')
      } else {
        this.$router.replace('/login')
      }
    }
  },
  computed: mapState(['auth']),
  watch: {}
}
</script>

<style>
body.cordova header {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}
.q-drawer {
  opacity: 0.8;
}
</style>
