<template>
<q-page padding>

  <div class="row flex-center">

  <q-form class="col-lg-4 col-xs-12 bg-white rounded-borders q-pa-md q-gutter-y-xs" @submit="onSubmit" @reset="onReset">

<q-input outlined square  :rules="$validation('Area', 'required')" v-model="area_name" label="Area" />
<div class="border bg-grey-1 q-mb-lg">
                      <div class="q-px-sm q-mt-sm">
                        Area Status
                      </div>

                      <q-option-group v-model="area_status" :options="areaStatusOptions"
                      inline
                      type="radio"
                      />
                      </div>

<div class="q-mt-lg">
          <ul v-if="__validation" class="bg-red-7 text-white q-pa-md list-none" style="list-style-type:none;">
            <li class="q-mb-md">Error when submit form: </li>
            <li v-for="i in __validation" :key="i">
              - {{i.message}}
            </li>
          </ul>
          <div class="row q-gutter-md">
            <q-btn
              label="Submit"
              type="submit"
              color="primary"
              class="col no-border-radius"
              unelevated
              :rules="[ val => val && val.length > 0 || 'Please type something']"
            />
            <q-btn
              label="Reset"
              type="reset"
              color="primary"
              flat
              class="col-3"
            />
          </div>
        </div>
</q-form>

</div>

</q-page>

</template>

<script>
import { mapState, mapActions } from 'vuex'
import { vuexSync } from 'boot/helpers'
export default {
  data () {
    return {

      areaStatusOptions: [{ 'label': 'Active', 'value': 1 }, { 'label': 'Inactive', 'value': 0 }]
    }
  },
  computed: {
    ...mapState(['area', 'auth']),
    ...vuexSync('area', ['area_name', 'area_status', 'true', 'true', '__status', '__message', '__error', '__validation'])

  },
  beforeCreate () {
    this.$store.commit('area/RESET')
  },
  created () {
    Object.assign(this.notify, {
      enable: true,
      success: true,
      redirect: (status) => {
        if (status === 'success_create_area' || status === 'success_update_area') {
          this.$router.go(-1)
        }
      }
    })

    if (this.$route.params.id) {
      this.$store.dispatch('area/edit', { id: this.$route.params.id })
      // this.$store.commit('area/SET_RESPONSE', { id: this.$route.params.id })
    }

    if (this.auth.user_role < 4) {
      this.userRoleOptions = this.userRoleOptions.filter(i => Number(i.value) === Number(this.auth.user_role))
    }
  },
  watch: {

    area: {
      handler (val) {
        if (val.__status !== 'loading') {

        }
      },
      deep: true
    }

  },
  methods: {

    mergeAuthAfterUserUpdate (val) {
      if (val.__status === 'success_update_user') {
        if (Number(val.id) === Number(this.auth.id)) {
          let newuser = Object.keys(val).filter(i => i.indexOf('__') === -1 && !['users', 'created_at', 'updated_at', 'location_detail', 'user_status', 'code', 'parent'].includes(i))
          newuser.forEach((i) => {
            this.$store.commit(`auth/SET_${i.toUpperCase()}`, val[i])
          })
        }
      }
    },

    ...mapActions({}),
    onSubmit () {
      let action = this.$route.params.id ? 'update' : 'store'
      let params = { id: this.$route.params.id, area_name: this.area_name, area_status: this.area_status }
      this.$store.dispatch('area/' + action, params)
    },
    onReset () {
      this.$store.commit('area/RESET')
    }
  }
}
</script>
