<template>
  <q-page padding>
    <div class="row flex-center">
      <q-form
        class="col-lg-4 col-xs-12 bg-white rounded-borders q-pa-md q-gutter-y-xs"
        @submit="onSubmit"
        @reset="onReset"
      >
        <q-select
          outlined
          square
          :rules="$validation('area name', 'required')"
          label="area name"
          v-model="area_id"
          :options="area.areas"
          option-value="id"
          option-label="area_name"
          emit-value
          map-options
          class="select"
          :loading="area.__status === 'loading'"
        />
        <q-input
          outlined
          square
          :rules="$validation('branch name', 'required')"
          v-model="branch_name"
          label="branch name"
        />
        <div class="border bg-grey-1 q-mb-lg">
          <div class="q-px-sm q-mt-sm">
            Area Status
          </div>

          <q-option-group
            v-model="branch_status"
            :options="branchStatusOptions"
            inline
            type="radio"
          />
        </div>

        <div class="q-mt-lg">
          <ul
            v-if="__validation"
            class="bg-red-7 text-white q-pa-md list-none"
            style="list-style-type:none;"
          >
            <li class="q-mb-md">Error when submit form:</li>
            <li v-for="i in __validation" :key="i">- {{ i.message }}</li>
          </ul>
          <div class="row q-gutter-md">
            <q-btn
              label="Submit"
              type="submit"
              color="primary"
              class="col no-border-radius"
              unelevated
              :rules="[
                val => (val && val.length > 0) || 'Please type something'
              ]"
            />
            <q-btn
              label="Reset"
              type="reset"
              color="primary"
              flat
              class="col-3"
            />
          </div>
        </div>
      </q-form>
    </div>
  </q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { vuexSync } from 'boot/helpers'
export default {
  data () {
    return {
      branchStatusOptions: [
        { label: 'Active', value: 1 },
        { label: 'Inactive', value: 0 }
      ]
    }
  },
  computed: {
    ...mapState(['branch', 'area', 'auth']),
    ...vuexSync('branch', [
      'area_id',
      'branch_name',
      'branch_status',
      'true',
      'true',
      '__status',
      '__message',
      '__error',
      '__validation'
    ])
  },
  beforeCreate () {
    this.$store.commit('branch/RESET')
  },
  created () {
    Object.assign(this.notify, {
      enable: true,
      success: true,
      redirect: status => {
        if (
          status === 'success_create_branch' ||
          status === 'success_update_branch'
        ) {
          this.$router.go(-1)
        }
      }
    })

    this.$store.dispatch('area/index', { show: 'all', area_status: 1 })

    if (this.$route.params.id) {
      this.$store.dispatch('branch/edit', { id: this.$route.params.id })
      // this.$store.commit('branch/SET_RESPONSE', { id: this.$route.params.id })
    }

    if (this.auth.user_role < 4) {
      this.userRoleOptions = this.userRoleOptions.filter(
        i => Number(i.value) === Number(this.auth.user_role)
      )
    }
  },
  watch: {
    branch: {
      handler (val) {
        if (val.__status !== 'loading') {
        }
      },
      deep: true
    }
  },
  methods: {
    mergeAuthAfterUserUpdate (val) {
      if (val.__status === 'success_update_user') {
        if (Number(val.id) === Number(this.auth.id)) {
          let newuser = Object.keys(val).filter(
            i =>
              i.indexOf('__') === -1 &&
              ![
                'users',
                'created_at',
                'updated_at',
                'location_detail',
                'user_status',
                'code',
                'parent'
              ].includes(i)
          )
          newuser.forEach(i => {
            this.$store.commit(`auth/SET_${i.toUpperCase()}`, val[i])
          })
        }
      }
    },

    ...mapActions({}),
    onSubmit () {
      let action = this.$route.params.id ? 'update' : 'store'
      let params = {
        id: this.$route.params.id,
        area_id: this.area_id,
        branch_name: this.branch_name,
        branch_status: this.branch_status
      }
      this.$store.dispatch('branch/' + action, params)
    },
    onReset () {
      this.$store.commit('branch/RESET')
    }
  }
}
</script>
