<template>
  <q-page padding>
    <div v-if="__status === 'loading' && firstLoad" class="q-pa-md text-center">
      <q-spinner-facebook color="light-blue" size="2em" />
    </div>
    <div v-else>
      <div class="text-right q-pb-md">
        <q-btn-group class="q-mx-xs-xs q-mx-lg-none" flat>
          <q-btn
            v-if="selected.length > 0"
            icon="delete"
            :label="$q.screen.gt.md ? `${getSelectedString()}` : ''"
            color="transparent text-black"
            @click="destroy(selected.map(i => i.id).join(','))"
          />
          <q-btn
            icon="post_add"
            :label="$q.screen.gt.md ? 'add branch' : ''"
            color="transparent text-black"
            to="/admin/branch/form"
          />
          <q-btn
            icon="filter_list"
            :label="$q.screen.gt.md ? 'filter' : ''"
            color="transparent text-black"
            @click="showFilter = !showFilter"
          >
            <q-badge
              v-if="filters && filters.filter(i => i.search).length > 0"
              label=""
              color="red"
              class="q-pa-xs text-xs"
            />
          </q-btn>

          <q-btn-dropdown
            color="transparent text-black"
            :label="$q.screen.gt.md ? 'export' : ''"
            icon="cloud_download"
          >
            <q-list>
              <!-- <q-item>
                    <download-excel
                      worksheet="Branch"
                      type="csv"
                      name="branch_table.csv"
                      :data="branches.data"
                      ><q-btn label="export from table" icon="file_copy" flat dense no-caps
                    /></download-excel>
                  </q-item> -->
              <q-item>
                <download-excel
                  class="btn btn-default"
                  worksheet="Branch"
                  type="csv"
                  name="branch.csv"
                  :fetch="fetchData"
                  :before-generate="() => $q.loading.show()"
                  :before-finish="() => $q.loading.hide()"
                  :data="branches.data"
                  ><q-btn
                    label="export all"
                    icon="file_copy"
                    class="full-width"
                    flat
                    dense
                    no-caps
                /></download-excel>
              </q-item>
            </q-list>
          </q-btn-dropdown>
          <q-btn-dropdown
            color="transparent text-black"
            :label="$q.screen.gt.md ? 'hide column' : ''"
            icon="visibility"
            dense
          >
            <q-option-group
              :options="
                branches.columns.map(i => {
                  return { label: i.label, value: i.name };
                })
              "
              label="Notifications"
              type="checkbox"
              v-model="invisibleColumns"
            />
          </q-btn-dropdown>
          <q-btn
            :icon="tableGrid ? 'view_module' : 'view_list'"
            color="transparent text-black"
            @click="
              tableGrid === null
                ? (tableGrid = $q.screen.lt.sm ? false : true)
                : (tableGrid = !tableGrid)
            "
          />
        </q-btn-group>
      </div>

      <q-dialog v-model="showFilter" persistent>
        <q-card
          class="bg-white text-black"
          style="width: 700px; max-width: 100vw;"
        >
          <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">Filter</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section class="q-pt-none">
            <filter-table
              :columns="branches.columns"
              :values="filters"
              @filter-result="getResult"
            />
          </q-card-section>
        </q-card>
      </q-dialog>

      <q-table
        class="no-shadow"
        square
        bordered
        no-data-label="I didn't find anything for you"
        :grid="tableGrid !== null ? tableGrid : $q.screen.lt.md"
        :title="$route.label"
        :data="branches.data"
        :columns="getColumns"
        :visible-columns="
          branches.columns
            .map(i => i.name)
            .filter(
              i =>
                !this.config.invisibleColumns.branches.invisibleColumns.includes(
                  i
                )
            )
        "
        :pagination="branches.pagination"
        @request="request"
        :loading="__status === 'loading'"
        :filter="filter"
        selection="multiple"
        :selected.sync="selected"
        :selected-rows-label="getSelectedString"
        grid-header
      >
        <template v-slot:loading>
          <q-inner-loading showing color="primary" />
        </template>
        <template v-slot:no-data="{ icon, message }">
          <div class="full-width row flex-center text-red q-gutter-sm">
            <q-icon size="2em" name="sentiment_dissatisfied" />
            <span> Well this is sad... {{ message }} </span>
          </div>
        </template>
        <template v-slot:header="props">
          <q-tr :props="props" class="bg-grey-4">
            <q-th>
              <q-checkbox
                v-model="props.selected"
                keep-color
                :dense="$q.screen.lt.md"
              />
            </q-th>
            <q-th v-for="col in props.cols" :key="col.name" :props="props">
              {{ col.label }}
            </q-th>
          </q-tr>
        </template>

        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td align="center">
              <q-checkbox dense v-model="props.selected" />
            </q-td>
            <q-td
              v-for="col in props.cols"
              :key="col.name"
              :align="col.align"
              :classes="col.classes"
            >
              <div v-if="col.name === 'action'" class="q-gutter-sm">
                <q-btn
                  icon="edit"
                  label=""
                  color="green"
                  flat
                  dense
                  :to="{ path: `${$route.path}/form/${props.row.id}` }"
                >
                  <q-tooltip>edit</q-tooltip>
                </q-btn>
                <q-btn
                  icon="delete"
                  label=""
                  color="red"
                  flat
                  dense
                  @click="destroy(props.row.id)"
                >
                  <q-tooltip>delete</q-tooltip>
                </q-btn>
              </div>
              <div v-html="col.value" v-else></div>
            </q-td>
          </q-tr>
        </template>

        <template v-slot:item="props">
          <div
            class="q-pa-xs col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-style-transition"
            :style="props.selected ? 'transform: scale(0.95);' : ''"
          >
            <q-card
              :class="[props.selected ? 'bg-grey-2' : '', 'no-border-radius']"
              flat
              bordered
            >
              <q-list dense>
                <q-item
                  v-for="col in props.cols.filter(col => col.name !== 'action')"
                  :key="col.name"
                  style="border-bottom: 1px dashed #eee;"
                >
                  <q-item-section class="col-3">
                    <q-item-label caption class="text-bold">{{
                      col.label
                    }}</q-item-label>
                  </q-item-section>
                  <q-item-section side class="col">
                    <q-item-label
                      caption
                      class="text-no-wrap"
                      lines="4"
                      v-html="col.value"
                    ></q-item-label>
                  </q-item-section>
                </q-item>

                <q-separator />
                <q-item class="bg-grey-1">
                  <q-item-section>
                    <q-checkbox
                      dense
                      v-model="props.selected"
                      :label="props.row.name"
                    />
                  </q-item-section>

                  <q-item-section side>
                    <q-item-label>
                      <q-card-actions align="right">
                        <q-btn
                          outline
                          round
                          dense
                          color="teal"
                          label=""
                          icon="edit"
                          :to="{ path: `${$route.path}/form/${props.row.id}` }"
                          size="md"
                        >
                          <q-tooltip>edit</q-tooltip>
                        </q-btn>
                        <q-btn
                          outline
                          round
                          dense
                          color="red"
                          label=""
                          icon="delete"
                          @click="destroy(props.row.id)"
                          size="md"
                        >
                          <q-tooltip>delete</q-tooltip>
                        </q-btn>
                      </q-card-actions>
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-card>
          </div>
        </template>
      </q-table>
    </div>
  </q-page>
</template>

<script>
import { mapState } from 'vuex'
import { vuexSync } from 'boot/helpers'
import { extend } from 'quasar'

export default {
  data () {
    return {
      firstLoad: true,
      tableGrid: null,
      showFilter: false,
      searchString: {},
      filters: '',
      pos: {},
      filter: {},
      selected: []
    }
  },
  computed: {
    ...mapState(['branch', 'config']),
    ...vuexSync('branch', [
      'area_id',
      'branch_name',
      'branch_status',
      'branches',
      '__status',
      '__message'
    ]),
    invisibleColumns: {
      get () {
        return this.config.invisibleColumns.branches.invisibleColumns
      },
      set (val) {
        let intersection = this.config.invisibleColumns.branches.invisibleColumns.filter(
          x => !val.includes(x)
        )
        let vv =
          intersection.length === 0 ? val[val.length - 1] : intersection[0]
        this.$store.commit('config/updateVisibility', {
          table: 'branches',
          data: vv
        })
      }
    },
    getColumns () {
      let items = extend(true, {}, this.branches)
      return items.columns.map(i => {
        if (i.format) {
          // eslint-disable-next-line no-eval
          i.format = eval(i.format)
        }
        return i
      })
    }
  },
  created () {
    Object.assign(this.notify, {
      enable: true,
      success: true,
      showLoading: false,
      redirect: status => {
        if (status === 'success_destroy_branch') {
          this.$store.dispatch('branch/index')
        }
      }
    })

    this.request({
      pagination: {
        sortBy: 'branches.id',
        descending: 'true'
      },
      filter: undefined
    })
  },
  methods: {
    async fetchData () {
      let url = `${process.env.API_URL}/admin/branch?show=all&export=true`
      let response = await fetch(url, {
        method: 'get',
        headers: {
          'Content-Type': 'application/json',
          Accept: 'application/json',
          authorization: `Bearer ${this.$store.state.auth.token}`
        }
      })
      let result = await response.json()
      return result.branches
    },
    updateVisibility (value) {
      this.$store.dispatch('config/update', {
        invisibleColumns: value,
        table: 'branches'
      })
    },
    getResult (res) {
      // reset searchString before searrch
      this.searchString = {}

      res
        .filter(i => i.search)
        .forEach(i => {
          this.searchString[i.search.value] = i.value
        })
      this.filters = res

      console.log('gett filter result', this.filters)
      this.showFilter = !this.showFilter

      this.request({
        filter: this.searchString
      })
    },
    getSelectedString () {
      return this.selected.length === 0
        ? ''
        : `remove ${this.selected.length} record${
          this.selected.length > 1 ? 's' : ''
        }`
    },
    request (props) {
      let search = ''
      let filter = props.filter && Object.keys(props.filter).length > 0 ? props.filter : this.searchString
      if (filter) {
        search = Object.keys(filter)
          .map((i, j) => {
            let a = i.split(':')
            return `${a[0]}:${filter[i]}:${a[1]}`
          })
          .join(',')
      }
      let ab = { ...props.pagination, ...{ search: search } }
      this.$store.dispatch('branch/index', ab)
    },
    destroy (id) {
      this.$q
        .dialog({
          title: 'Confirm',
          message: 'Apakah anda yakin ingin menghapus data ini ?',
          cancel: true,
          persistent: true
        })
        .onOk(() => {
          this.$store.dispatch('branch/destroy', { id })
        })
        .onCancel(() => {})
    }
  },
  watch: {
    '$store.state.branch': {
      handler (val) {
        if (val.__status !== 'loading') {
          if (val.branches) {
            this.firstLoad = false
            if (
              (this.config.invisibleColumns.branches &&
                this.config.invisibleColumns.branches
                  .invisibleColumnRevision) !==
              val.branches.invisibleColumnRevision
            ) {
              this.$store.dispatch('config/store', {
                table: 'branches',
                data: {
                  invisibleColumns: val.branches.invisibleColumns,
                  invisibleColumnRevision: val.branches.invisibleColumnRevision
                }
              })
            }
          }
        }
      },
      deep: true
    },
    pos: {
      handler (val) {
        this.filter = this.clean(val)
      },
      deep: true,
      immediate: true
    }
  }
}
</script>

<style></style>
