<template>
  <q-page class="flex column flex-center">
       <!-- <div class="text-center flex column items-center relative-position q-mb-xl"> -->
          <q-avatar size="9em">
              <img src="~assets/dealerprogram.png"/>
          </q-avatar>
          <div class="q-mt-md text-center">
            <span class="text-subtitle block q-pb-xs text-orange">Welcome, {{$store.state.auth.dealer_name}}</span>
          </div>

          <div class="q-mt-xl">
          <!-- <q-btn label="daftar program" icon-right="chevron_right" color="orange" to="/daftar-program" /> -->
          </div>
        <!-- </div> -->
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'AdminIndex',
  mounted () {
  }
}
</script>
