<template>
  <q-page class="row flex-center bg">
    <div class="col-lg-3 col-xs-12 q-gutter-xl">
      <div class="bg-white rounded-borders shadow-10">
        <div class="text-center flex column items-center relative-position ">
            <q-avatar class="q-mt-xl" size="9em">
                <img src="~assets/dealerprogram.png" />
            </q-avatar>
            <div class="text-yellow-8 q-mt-lg">
              <span class="text-h4 block q-mb-lg">Dealer Program</span>
            </div>
          </div>

        <q-form
            @submit="loginWithEmail({email,password})"
            @reset="reset(['email','password'])"
            class="q-pa-md"
          >
            <q-input
              filled
              v-model="email"
              label="Your email *"
              lazy-rules
              :rules="$helpers.validation('Email','required|email')"
            />

            <q-input
              v-model="password"
              filled
              label="Your password *"
              :type="isPwd ? 'password' : 'text'"
              lazy-rules
              :rules="$helpers.validation('Password','required|min:3,6')"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>
            <q-btn
              label="Login"
              type="submit"
              color="primary"
              class="full-width"
              unelevated
              size="lg"
            />
          </q-form>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { vuexSync } from 'boot/helpers'
export default {
  name: 'Login',
  data () {
    return {
      isPwd: true
    }
  },
  computed: {
    ...mapState(['auth']),
    ...vuexSync('auth', ['email', 'password', '__status', '__message'])
  },
  created () {
    Object.assign(this.notify,
      {
        enable: true,
        success: true,
        redirect: (status) => {
          if (status.indexOf('success') !== -1) this.$router.replace('/admin')
        }
      })
  },
  methods: {
    ...mapActions({
      'loginWithEmail': 'auth/login',
      'reset': 'auth/reset'
    })
  }
}
</script>

<style>
.bg {
  background: #eee url(https://unsplash.com/s/photos/dealership) no-repeat center center;
  background-size: cover;
}
.bg:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background:#eee;
  opacity: 0.2;
}
.has-bg-img {
  position: relative;
}
.has-bg-img:after {
  content: "";
  background: url("http://placehold.it/500x100") no-repeat center center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1; /* Here is your opacity */
}
</style>
