<template>
<q-page padding>

  <div class="row flex-center">

  <q-form class="col-lg-4 col-xs-12 bg-white rounded-borders q-pa-md q-gutter-y-xs" @submit="onSubmit" @reset="onReset">

<q-select outlined square :rules="$validation('username', 'required')"  label="username" v-model="user_id" :options="user.users" option-value="id" option-label="username" emit-value map-options class="select" :loading="user.__status === 'loading'" />
<q-input outlined square  :rules="$validation('Notification name', 'required')" v-model="notification_name" label="Notification name" />
<q-input outlined square  :rules="[]" type="textarea" v-model="notification_description" label="Notification" />
<div class="border bg-grey-1 q-mb-lg">
                      <div class="q-px-sm q-mt-sm">
                        Notification Type Status
                      </div>

                      <q-option-group v-model="notification_status" :options="notificationStatusOptions"
                      inline
                      type="radio"
                      />
                      </div>

<div class="q-mt-lg">
          <ul v-if="__validation" class="bg-red-7 text-white q-pa-md list-none" style="list-style-type:none;">
            <li class="q-mb-md">Error when submit form: </li>
            <li v-for="i in __validation" :key="i">
              - {{i.message}}
            </li>
          </ul>
          <div class="row q-gutter-md">
            <q-btn
              label="Submit"
              type="submit"
              color="primary"
              class="col no-border-radius"
              unelevated
              :rules="[ val => val && val.length > 0 || 'Please type something']"
            />
            <q-btn
              label="Reset"
              type="reset"
              color="primary"
              flat
              class="col-3"
            />
          </div>
        </div>
</q-form>

</div>

</q-page>

</template>

<script>
import { mapState, mapActions } from 'vuex'
import { vuexSync } from 'boot/helpers'
export default {
  data () {
    return {

      notificationStatusOptions: [{ 'label': 'Is Read', 'value': 0 }, { 'label': 'Active', 'value': 1 }, { 'label': 'Inactive', 'value': 2 }]
    }
  },
  computed: {
    ...mapState(['notification', 'user', 'auth']),
    ...vuexSync('notification', ['user_id', 'notification_name', 'notification_description', 'notification_status', 'true', 'true', '__status', '__message', '__error', '__validation'])

  },
  beforeCreate () {
    this.$store.commit('notification/RESET')
  },
  created () {
    Object.assign(this.notify, {
      enable: true,
      success: true,
      redirect: (status) => {
        if (status === 'success_create_notification' || status === 'success_update_notification') {
          this.$router.go(-1)
        }
      }
    })

    this.$store.dispatch('user/index', { show: 'all' })

    if (this.$route.params.id) {
      this.$store.dispatch('notification/edit', { id: this.$route.params.id })
      // this.$store.commit('notification/SET_RESPONSE', { id: this.$route.params.id })
    }

    if (this.auth.user_role < 4) {
      this.userRoleOptions = this.userRoleOptions.filter(i => Number(i.value) === Number(this.auth.user_role))
    }
  },
  watch: {

    notification: {
      handler (val) {
        if (val.__status !== 'loading') {

        }
      },
      deep: true
    }

  },
  methods: {

    mergeAuthAfterUserUpdate (val) {
      if (val.__status === 'success_update_user') {
        if (Number(val.id) === Number(this.auth.id)) {
          let newuser = Object.keys(val).filter(i => i.indexOf('__') === -1 && !['users', 'created_at', 'updated_at', 'location_detail', 'user_status', 'code', 'parent'].includes(i))
          newuser.forEach((i) => {
            this.$store.commit(`auth/SET_${i.toUpperCase()}`, val[i])
          })
        }
      }
    },

    ...mapActions({}),
    onSubmit () {
      let action = this.$route.params.id ? 'update' : 'store'
      let params = { id: this.$route.params.id, user_id: this.user_id, notification_name: this.notification_name, notification_description: this.notification_description, notification_status: this.notification_status }
      this.$store.dispatch('notification/' + action, params)
    },
    onReset () {
      this.$store.commit('notification/RESET')
    }
  }
}
</script>
