<template>
  <q-page padding>
    <div class="row flex-center">
      <q-form
        class="col-lg-4 col-xs-12 bg-white rounded-borders q-pa-md q-gutter-y-xs"
        @submit="onSubmit"
        @reset="onReset"
      >
      <div v-if="getProgram">
        <!-- <pre>{{ programOrder.program_orders[0] }}</pre> -->
        <!-- <pre>{{ programFid }}</pre> -->
          <div v-for="(i, j) in getProgram.month" :key="j" class="row q-gutter-md">
              <q-input :value="programDate[i]" @input="update($event , i, 'programDate')" :label="String(i)" stack-label filled class="col q-mb-md" />
              <q-input :value="programFid[i]" @input="update($event , i, 'programFid')" :label="String(i)+' fid report'" stack-label filled class="col q-mb-md" />
          </div>
        </div>

        <div class="q-mt-lg">
          <ul
            v-if="__validation"
            class="bg-red-7 text-white q-pa-md list-none"
            style="list-style-type:none;"
          >
            <li class="q-mb-md">Error when submit form:</li>
            <li v-for="i in __validation" :key="i">- {{ i.message }}</li>
          </ul>
          <div class="row q-gutter-md">
            <q-btn
              label="Submit"
              type="submit"
              color="primary"
              class="col no-border-radius"
              unelevated
              :rules="[
                val => (val && val.length > 0) || 'Please type something'
              ]"
            />
            <!-- <q-btn
              label="Reset"
              type="reset"
              color="primary"
              flat
              class="col-3"
            /> -->
          </div>
        </div>
      </q-form>
    </div>
  </q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { vuexSync } from 'boot/helpers'
export default {
  data () {
    return {
      programDate: {},
      programFid: {},
      programOrderStatusOptions: [{ 'label': 'Reject', 'value': 4 }, { 'label': 'Approve', 'value': 2 }, { 'label': 'Pending', 'value': 3 }, { 'label': 'Active', 'value': 1 }, { 'label': 'Inactive', 'value': 0 }]
    }
  },
  computed: {
    getProgram () {
      console.log('PROGAM REPORT', this.programReport.program_reports)

      let program = this.programOrder.program_orders.length > 0 ? this.programOrder.program_orders[0].Program : null
      if (program) {
        if (this.programReport.program_reports.length > 0) {
          program.month = this.programReport.program_reports.map(i => i.program_report_date).sort((a, b) => {
            let x = Number(a.split('-')[1]) - Number(b.split('-')[1])
            return x
          })
        } else {
          var date1 = new Date(program.program_period_start)
          var date2 = new Date(program.program_period_finish)
          var daysOfYear = []
          // console.log(date1, date2)
          // eslint-disable-next-line no-unmodified-loop-condition
          for (var d = date1; d <= date2; d.setMonth(d.getMonth() + 1)) {
            let gd = new Date(d)
            let dd = gd.getFullYear() + '-' + (('0' + (gd.getMonth() + 1)).slice(-2))
            // let x = new Date(d).toISOString().substring(0, 7)
            daysOfYear.push(dd)
          }
          // console.log('result : ', daysOfYear)
          program.month = daysOfYear
        }
      }
      return program
    },
    ...mapState(['programOrder', 'programReport', 'user', 'program', 'auth']),
    ...vuexSync('programOrder', ['user_id', 'program_id', 'program_order_status', 'program_order_sort', 'true', 'true', '__status', '__message', '__error', '__validation'])
  },
  beforeCreate () {
    this.$store.commit('programOrder/RESET')
  },
  created () {
    Object.assign(this.notify, {
      enable: true,
      loading: true,
      success: false
    })

    if (this.$route.params.id) {
      this.$store.dispatch('programOrder/index', { show: 'all', search: `program_orders.id:${this.$route.params.id}:integer` })
      this.$store.dispatch('programReport/index', { show: 'all', search: `program_orders.id:${this.$route.params.id}:integer` })
      // this.$store.commit('programOrder/SET_RESPONSE', { id: this.$route.params.id })
    }
  },
  watch: {
    programOrder: {
      handler (val) {
        if (val.__status !== 'loading') {

        }
      },
      deep: true
    },
    programReport: {
      handler (val) {
        if (val.__status !== 'loading') {
          // console.log('load program report', val)
          this.$q.loading.hide()
          if (val.__status === 'success_update_program_order') {
            this.$q.notify('Update Report Berhasil')
            console.log('UPDATE RPOGRAM REPORT', val.result)
          } else {
            // this.programDate = {}

          }
          val.program_reports.forEach(i => {
            this.programDate[i.program_report_date] = i.program_report_total
          })
          val.program_reports.forEach(i => {
            this.programFid[i.program_report_date] = i.program_report_fid
          })
        }
      },
      deep: true
    }
  },
  methods: {
    update (e, i, type) {
      let x = {}
      x[i] = e
      this[type] = { ...this[type], ...x }
    },
    monthDiff (d1, d2) {
      var months
      months = (d2.getFullYear() - d1.getFullYear()) * 12
      months -= d1.getMonth() + 1
      months += d2.getMonth()
      return months <= 0 ? 0 : months
    },
    mergeAuthAfterUserUpdate (val) {
      if (val.__status === 'success_update_user') {
        if (Number(val.id) === Number(this.auth.id)) {
          let newuser = Object.keys(val).filter(i => i.indexOf('__') === -1 && !['users', 'created_at', 'updated_at', 'location_detail', 'user_status', 'code', 'parent'].includes(i))
          newuser.forEach((i) => {
            this.$store.commit(`auth/SET_${i.toUpperCase()}`, val[i])
          })
        }
      }
    },

    ...mapActions({}),
    onSubmit () {
      // let action = this.$route.params.id ? 'update' : 'store'
      // let params = { id: this.$route.params.id, user_id: this.user_id, program_id: this.program_id, program_order_status: this.program_order_status, program_order_sort: this.program_order_sort }
      this.$q.loading.show()
      let p = this.programOrder.program_orders[0]
      let params = {
        program_order_id: p.id,
        user_id: p.user_id,
        program_id: p.program_id,
        program_package_id: p.program_package_id,
        report_month: p.Program.month,
        report_data: this.programDate,
        report_fid: this.programFid
      }
      let ins = []
      params.report_month.forEach((i, j) => {
        ins.push({
          program_order_id: p.id,
          user_id: p.user_id,
          program_id: p.program_id,
          program_package_id: p.program_package_id,
          program_report_date: i,
          program_report_total: this.programDate[i] ? Number(this.programDate[i]) : 0,
          program_report_fid: this.programFid[i] ? Number(this.programFid[i]) : 0
        })
      })
      params.data = ins
      this.$store.dispatch('programReport/updateReport', params)
    },
    onReset () {
      this.$store.commit('programOrder/RESET')
    }
  }
}
</script>
