<template>
<q-page padding>

  <div class="row flex-center">

  <q-form class="col-lg-4 col-xs-12 bg-white rounded-borders q-pa-md q-gutter-y-xs" @submit="onSubmit" @reset="onReset">

<q-select outlined square :rules="$validation('program name', 'required')"  label="program name" v-model="program_id" :options="program.programs" option-value="id" option-label="program_name" emit-value map-options class="select" :loading="program.__status === 'loading'" />
<q-input outlined square  :rules="$validation('Program Package Name', 'required')" v-model="program_package_name" label="Program Package Name" />
<div class="border bg-grey-1 q-mb-lg">
                      <div class="q-px-sm q-mt-sm">
                        Program Type
                      </div>

                      <q-option-group v-model="program_package_type" :options="programPackageTypeOptions"
                      inline
                      type="radio"
                      />
                      </div>
<q-input outlined square  :rules="[]" v-model="program_package_reward_money" label="Uang" />
<q-input outlined square  :rules="[]" v-model="program_package_reward_trip" label="Trip" />
<q-input outlined square  :rules="[]" v-model="program_package_target" label="Program Package Target" />
<div class="border bg-grey-1 q-mb-lg">
                      <div class="q-px-sm q-mt-sm">
                        Program Status
                      </div>

                      <q-option-group v-model="program_package_status" :options="programPackageStatusOptions"
                      inline
                      type="radio"
                      />
                      </div>

<div class="q-mt-lg">
          <ul v-if="__validation" class="bg-red-7 text-white q-pa-md list-none" style="list-style-type:none;">
            <li class="q-mb-md">Error when submit form: </li>
            <li v-for="i in __validation" :key="i">
              - {{i.message}}
            </li>
          </ul>
          <div class="row q-gutter-md">
            <q-btn
              label="Submit"
              type="submit"
              color="primary"
              class="col no-border-radius"
              unelevated
              :rules="[ val => val && val.length > 0 || 'Please type something']"
            />
            <q-btn
              label="Reset"
              type="reset"
              color="primary"
              flat
              class="col-3"
            />
          </div>
        </div>
</q-form>

</div>

</q-page>

</template>

<script>
import { mapState, mapActions } from 'vuex'
import { vuexSync } from 'boot/helpers'
export default {
  data () {
    return {

      programPackageTypeOptions: [{ 'label': 'Uang', 'value': 1 }, { 'label': 'Trip', 'value': 2 }],
      programPackageStatusOptions: [{ 'label': 'Active', 'value': 1 }, { 'label': 'Inactive', 'value': 0 }]
    }
  },
  computed: {
    ...mapState(['programPackage', 'program', 'auth']),
    ...vuexSync('programPackage', ['program_id', 'program_package_name', 'program_package_type', 'program_package_reward_money', 'program_package_reward_trip', 'program_package_target', 'program_package_status', 'true', 'true', '__status', '__message', '__error', '__validation'])

  },
  beforeCreate () {
    this.$store.commit('programPackage/RESET')
  },
  created () {
    Object.assign(this.notify, {
      enable: true,
      success: true,
      redirect: (status) => {
        if (status === 'success_create_program_package' || status === 'success_update_program_package') {
          this.$router.go(-1)
        }
      }
    })

    this.$store.dispatch('program/index', { show: 'all' })

    if (this.$route.params.id) {
      this.$store.dispatch('programPackage/edit', { id: this.$route.params.id })
      // this.$store.commit('programPackage/SET_RESPONSE', { id: this.$route.params.id })
    }

    if (this.auth.user_role < 4) {
      this.userRoleOptions = this.userRoleOptions.filter(i => Number(i.value) === Number(this.auth.user_role))
    }
  },
  watch: {

    programPackage: {
      handler (val) {
        if (val.__status !== 'loading') {

        }
      },
      deep: true
    }

  },
  methods: {

    mergeAuthAfterUserUpdate (val) {
      if (val.__status === 'success_update_user') {
        if (Number(val.id) === Number(this.auth.id)) {
          let newuser = Object.keys(val).filter(i => i.indexOf('__') === -1 && !['users', 'created_at', 'updated_at', 'location_detail', 'user_status', 'code', 'parent'].includes(i))
          newuser.forEach((i) => {
            this.$store.commit(`auth/SET_${i.toUpperCase()}`, val[i])
          })
        }
      }
    },

    ...mapActions({}),
    onSubmit () {
      let action = this.$route.params.id ? 'update' : 'store'
      let params = { id: this.$route.params.id, program_id: this.program_id, program_package_name: this.program_package_name, program_package_type: this.program_package_type, program_package_reward_money: this.program_package_reward_money, program_package_reward_trip: this.program_package_reward_trip, program_package_target: this.program_package_target, program_package_status: this.program_package_status }
      this.$store.dispatch('programPackage/' + action, params)
    },
    onReset () {
      this.$store.commit('programPackage/RESET')
    }
  }
}
</script>
