<template>
  <q-page padding>
    <div class="row flex-center">
      <q-form
        class="col-lg-4 col-xs-12 bg-white rounded-borders q-pa-md q-gutter-y-xs"
        @submit="onSubmit"
        @reset="onReset"
      >
        <q-select
          outlined
          square
          :rules="$validation('username', 'required')"
          label="username"
          v-model="user_id"
          :options="user.users"
          option-value="id"
          option-label="username"
          emit-value
          map-options
          class="select"
          :loading="user.__status === 'loading'"
          disable
        />
        <div class="bg-red-2 q-pa-md q-mb-md" v-if="programOrder.ProgramPackage">
          <span>paket yang  dipilih</span>
           {{programOrder.ProgramPackage.program_package_type === 1 ? 'Uang' : 'Trip'}}<br />
          target : {{programOrder.ProgramPackage.program_package_target}} <br />
          reward : {{programOrder.ProgramPackage.program_package_type === 1 ? programOrder.ProgramPackage.program_package_reward_money : programOrder.ProgramPackage.program_package_reward_trip }}
        </div>

        <q-select
          outlined
          square
          :rules="$validation('program name', 'required')"
          label="program name"
          v-model="program_id"
          :options="program.programs"
          option-value="id"
          option-label="program_name"
          emit-value
          map-options
          class="select"
          :loading="program.__status === 'loading'"
          disable
        />
        <div class="border bg-grey-1 q-mb-lg">
          <div class="q-px-sm q-mt-sm">
            Order Status
          </div>

          <q-option-group
            v-model="program_order_status"
            :options="programOrderStatusOptions"
            inline
            type="radio"
          />
        </div>

        <div class="q-mt-lg">
          <ul
            v-if="__validation"
            class="bg-red-7 text-white q-pa-md list-none"
            style="list-style-type:none;"
          >
            <li class="q-mb-md">Error when submit form:</li>
            <li v-for="i in __validation" :key="i">- {{ i.message }}</li>
          </ul>
          <div class="row q-gutter-md">
            <q-btn
              label="Submit"
              type="submit"
              color="primary"
              class="col no-border-radius"
              unelevated
              :rules="[
                val => (val && val.length > 0) || 'Please type something'
              ]"
            />
            <q-btn
              label="Reset"
              type="reset"
              color="primary"
              flat
              class="col-3"
            />
          </div>
        </div>
      </q-form>
    </div>
  </q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { vuexSync } from 'boot/helpers'
export default {
  data () {
    return {
      isShow: true,
      programOrderStatusOptions: [
        { label: 'Reject', value: 4 },
        { label: 'Pending', value: 3 },
        { label: 'Approve', value: 2 }
        // { label: 'Active', value: 1 },
        // { label: 'Inactive', value: 0 }
      ]
    }
  },
  computed: {
    ...mapState(['programOrder', 'user', 'program', 'auth']),
    ...vuexSync('programOrder', [
      'user_id',
      'program_id',
      'program_package_id',
      'program_order_status',
      'program_order_sort',
      'true',
      'true',
      '__status',
      '__message',
      '__error',
      '__validation'
    ])
  },
  beforeCreate () {
    this.$store.commit('programOrder/RESET')
  },
  created () {
    Object.assign(this.notify, {
      enable: true,
      success: true,
      redirect: status => {
        if (
          status === 'success_create_program_order' ||
          status === 'success_update_program_order'
        ) {
          this.$router.go(-1)
        }
      }
    })

    this.$store.dispatch('user/index', { show: 'all' })
    this.$store.dispatch('program/index', { show: 'all' })

    if (this.$route.params.id) {
      this.$store.dispatch('programOrder/edit', { id: this.$route.params.id })
      // this.$store.commit('programOrder/SET_RESPONSE', { id: this.$route.params.id })
    }

    if (this.auth.user_role < 4) {
      this.userRoleOptions = this.userRoleOptions.filter(
        i => Number(i.value) === Number(this.auth.user_role)
      )
    }
  },
  watch: {
    program_order_status (newVal, oldVal) {
      console.log('old ', oldVal, newVal)
      if (newVal === 2) {
        this.isShow = false
      }
    },
    programOrder: {
      handler (val) {
        if (val.__status !== 'loading') {
        }
      },
      deep: true
    }
  },
  methods: {
    mergeAuthAfterUserUpdate (val) {
      if (val.__status === 'success_update_user') {
        if (Number(val.id) === Number(this.auth.id)) {
          let newuser = Object.keys(val).filter(
            i =>
              i.indexOf('__') === -1 &&
              ![
                'users',
                'created_at',
                'updated_at',
                'location_detail',
                'user_status',
                'code',
                'parent'
              ].includes(i)
          )
          newuser.forEach(i => {
            this.$store.commit(`auth/SET_${i.toUpperCase()}`, val[i])
          })
        }
      }
    },

    ...mapActions({}),
    onSubmit () {
      let action = this.$route.params.id ? 'update' : 'store'
      let params = {
        id: this.$route.params.id,
        user_id: this.user_id,
        program_id: this.program_id,
        program_package_id: this.program_package_id,
        program_order_status: this.program_order_status
      }
      this.$store.dispatch('programOrder/' + action, params)
    },
    onReset () {
      this.$store.commit('programOrder/RESET')
    }
  }
}
</script>
