
<template>
<!-- eslint-disable vue/valid-v-on -->
  <q-page padding>
    <div class="row flex-center">
      <q-form
        class="col-lg-4 col-xs-12 bg-white rounded-borders q-pa-md q-gutter-y-xs"
        @submit="onSubmit"
        @reset="onReset"
      >
        <q-input
          outlined
          square
          :rules="$validation('Program Name', 'required')"
          v-model="program_name"
          label="Program Name"
        />

        <div class="border bg-grey-1 q-mb-lg">
          <div class="q-px-sm q-mt-sm">
            Area
          </div>
          <q-option-group
            v-model="area_id"
            :options="programAreaOptions"
            inline
            type="radio"
            class="q-mb-md"
          />
        </div>

         <div class="border bg-grey-1 q-mb-lg">
          <div class="q-px-sm q-mt-sm">
            Dealer Type
          </div>

          <q-option-group
            v-model="program_dealer_type"
            :options="programDealerTypeOptions"
            inline
            type="radio"
          />
        </div>

        <!-- {{(new Date().toISOString().substring(0,7)).replace('-','/')}} -->
         <div class="border bg-grey-1 q-mb-lg">
          <div class="q-px-sm q-mt-sm">
            Program Semester
          </div>

          <q-option-group
            v-model="program_semester"
            :options="programSemesterOptions"
            inline
            type="radio"
          />
        </div>

        <div class="row q-gutter-sm">
          <div class="col">
            <q-input
              outlined
              square
              :rules="$validation('Program Period Start', 'required')"
              v-model="program_period_start"
              label="Period Start"
            >
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    ref="qDateProxy1"
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date
                      mask="YYYY-MM-DD"
                      v-model="program_period_start"
                      @input="() => $refs.qDateProxy1.hide()"
                      emit-immediately
                      default-view="Months"
                      :options="dateOptionsSemester1Fn"
                    />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
          <div class="col">
            <q-input
              outlined
              square
              :rules="$validation('Program Period Finish', 'required')"
              v-model="program_period_finish"
              label="Period Finish"
            >
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    ref="qDateProxy"
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date
                      mask="YYYY-MM-DD"
                      v-model="program_period_finish"
                      @input="() => $refs.qDateProxy.hide()"
                      emit-immediately
                      default-view="Months"
                      :options="dateOptionsSemester2Fn"
                    />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
        </div>

        <q-input
          outlined
          square
          :rules="[]"
          type="textarea"
          v-model="program_term_condition"
          label="Term and Condition"
        />
        <!--
            <q-input
          outlined
          square
          :rules="[]"
          type="textarea"
          v-model="program_description"
          label="Program Description"
        />
        <q-input
          outlined
          square
          :rules="[]"
          v-model="program_growth"
          label="program growth"
        />
        <q-input
          outlined
          square
          :rules="[]"
          v-model="program_roa"
          label="program roa"
        />
        <q-input
          outlined
          square
          :rules="[]"
          v-model="program_fid"
          label="program fid"
        /> -->
        <!-- <pre>{{programPackages}}</pre> -->

        <div class="border bg-grey-1 q-mb-lg">
          <div class="q-px-sm q-mt-sm">
            Program Type
          </div>

          <q-option-group
            v-model="program_type"
            :options="programTypeOptions"
            inline
            type="radio"
          />
        </div>

      <div class="bg-yellow-2 q-mb-lg">
        <div class="q-pa-md text-uppercase">Paket Program</div>
        <div class="row">
          <div class="col q-pa-sm">
              <div
                v-for="(i, j) in programPackages"
                :key="j"
                class="row q-col-gutter-sm q-mb-md flex items-center"
              >
                <!-- <q-select
                  stack-label
                  outlined
                  square
                  label="Type"
                  map-options
                  emit-value
                  :options="programPackageOptions"
                  v-model="i.program_package_type"
                  class="col hide"
                /> -->
                <q-input
                  stack-label
                  outlined
                  square
                  label="target"
                  v-model="i.program_package_target"
                  class="col-3"
                />
                <div class="col">
                  <q-input
                    stack-label
                    outlined
                    square
                    label="Uang"
                    v-model="i.program_package_reward_money"
                    v-if="i.program_package_type === 1"
                    v-currency
                    lazy-rules
                  />
                  <q-input
                    stack-label
                    outlined
                    square
                    label="Trip"
                    v-model="i.program_package_reward_trip"
                    v-else
                  />
                </div>
                <div class="col-1">
                <q-btn icon="close" round dense outline color="red" size="sm" @click="removePackage(j)" />
                </div>
              </div>
          </div>
        </div>
        <div class="text-right">
          <q-btn
            square
            label="add package"
            icon="add"
            class="q-ma-sm"
            color="red"
            @click="addPackage"
          />
        </div>
      </div>

        <div class="border bg-grey-1 q-mb-lg">
          <div class="q-px-sm q-mt-sm">
            Program Growth
          </div>

          <q-option-group
            v-model="program_growth"
            :options="programGrowthOptions"
            inline
            type="radio"
          />
        </div>

        <div class="border bg-grey-1 q-mb-lg">
          <div class="q-px-sm q-mt-sm">
            Program Status
          </div>

          <q-option-group
            v-model="program_status"
            :options="programStatusOptions"
            inline
            type="radio"
          />
        </div>

        <q-uploader
          class="full-width q-mb-lg no-border-radius"
          :factory="
            files => onChangeFile(files, 'program_picture', 'program')
          "
          auto-upload
          label="Program Picture"
          accept=".jpg, image/*"
          flat
          bordered
          color="grey-6"
        >
          <template v-slot:header="scope">
            <div class="q-pa-sm text-right">
              <q-spinner v-if="scope.isUploading" class="q-uploader__spinner" />
              <q-btn
                v-if="scope.canAddFiles"
                type="a"
                icon="add_box"
                dense
                flat
                label="Program Picture"
              >
                <q-uploader-add-trigger />
                <q-tooltip>Pick Files</q-tooltip>
              </q-btn>
            </div>
          </template>
          <template v-slot:list>
            <q-list separator v-if="typeof program_picture === 'object'">
              <q-item v-for="(file, key) in program_picture" :key="key">
                <q-item-section>
                  <q-item-label class="full-width ellipsis">
                    {{ typeof file === "string" ? file : file.name }}
                  </q-item-label>
                </q-item-section>
                <q-item-section thumbnail>
                  <img
                    style="object-fit:contain;"
                    :src="
                      `${
                        typeof file === 'string'
                          ? file.indexOf('http') !== -1
                            ? file
                            : `${IMG_URL}/uploads/${file}`
                          : file.__img.src
                      }`
                    "
                  />
                </q-item-section>
                <q-item-section side>
                  <q-btn
                    class=""
                    size="12px"
                    flat
                    dense
                    round
                    icon="delete"
                    @click="
                      removeFile(file, 'program_picture', 'program')
                    "
                  />
                </q-item-section>
              </q-item>
            </q-list>
          </template>
        </q-uploader>

        <div class="q-mt-lg">
          <ul
            v-if="__validation"
            class="bg-red-7 text-white q-pa-md list-none"
            style="list-style-type:none;"
          >
            <li class="q-mb-md">Error when submit form:</li>
            <li v-for="i in __validation" :key="i">- {{ i.message }}</li>
          </ul>
          <div class="row q-gutter-md">
            <q-btn
              :label="$route.params.id ? 'Update program' : 'Save program'"
              type="submit"
              color="primary"
              class="col no-border-radius"
              unelevated
              :rules="[
                val => (val && val.length > 0) || 'Please type something'
              ]"
            />
            <q-btn
              v-if="!$route.params.id"
              label="Reset"
              type="reset"
              color="primary"
              flat
              class="col-3"
            />
          </div>
        </div>
      </q-form>
    </div>
  </q-page>
</template>

<script>
import { mapState } from 'vuex'
import { vuexSync } from 'boot/helpers'
// eslint-disable-next-line no-unused-vars
let programPackageOptions = [
  { label: 'Apresiasi', value: 1 },
  { label: 'Trip', value: 2 }
]
let defaultPackage = {
  id: null,
  program_id: null,
  program_package_name: null,
  program_package_type: null,
  program_package_reward_money: null,
  program_package_reward_trip: null,
  program_package_target: null,
  program_package_status: 1
}
export default {
  data () {
    return {
      programPackages: [],
      programAreaOptions: [],
      // dateOptionsSemester1Fn: ['2020/02/01', '2020/02/05'],
      programSemesterOptions: [
        { label: 'Semester I', value: 1 },
        { label: 'Semester II', value: 2 }
      ],
      programTypeOptions: [
        { label: 'Apresiasi', value: 1 },
        { label: 'Trip', value: 2 }
      ],
      programGrowthOptions: [
        { label: 'Pesimis', value: 1 },
        { label: 'Agresif', value: 2 }
      ],
      programStatusOptions: [
        { label: 'Active', value: 1 },
        { label: 'Inactive', value: 0 }
      ],
      programDealerTypeOptions: [
        { label: 'Brotherhood', value: 'RDR' },
        { label: 'Non Brotherhood', value: 'RCD' }
      ],
      programPackageOptions: programPackageOptions
    }
  },
  computed: {
    ...mapState(['program', 'programPackage', 'area', 'auth']),
    ...vuexSync('program', [
      'program_name',
      'area_id',
      'program_period_start',
      'program_period_finish',
      'program_description',
      'program_term_condition',
      'program_growth',
      'program_roa',
      'program_fid',
      'program_status',
      'program_type',
      'program_picture',
      'program_dealer_type',
      'program_semester',
      '__status',
      '__message',
      '__error',
      '__validation'
    ]),
    program_picture: {
      get () {
        let val = this.$store.state.program
        console.log('val')
        if (!val.program_picture) {
          return []
        } else {
          if (typeof val.program_picture === 'string') {
            return val.program_picture.split(',')
          } else {
            return val.program_picture
          }
        }
      },
      set () {}
    }
  },
  beforeCreate () {
    this.$store.commit('program/RESET')
  },
  created () {
    Object.assign(this.notify, {
      enable: true,
      success: true,
      redirect: status => {
        if (
          status === 'success_create_program' ||
          status === 'success_update_program'
        ) {
          this.$router.go(-1)
        }
      }
    })

    this.$store.dispatch('area/index', { show: 'all' })
    if (this.$route.params.id) {
      this.$store.dispatch('program/edit', { id: this.$route.params.id })
      this.$store.dispatch('programPackage/index', {
        show: 'all',
        search: `program_id:${this.$route.params.id}:integer`,
        sortBy:
          'program_packages.program_package_type asc, program_packages.program_package_target '
      })
      // this.$store.commit('program/SET_RESPONSE', { id: this.$route.params.id })
    } else {
      this.programPackages.push({ ...defaultPackage })
    }

    if (this.auth.user_role < 4) {
      this.userRoleOptions = this.userRoleOptions.filter(
        i => Number(i.value) === Number(this.auth.user_role)
      )
    }
  },
  watch: {
    program_type (val) {
      console.log('TYPE ', val)
      // if(val ===1){
      this.programPackageOptions = programPackageOptions.filter(
        i => i.value === Number(val)
      )

      if (!this.$route.params.id) {
        this.programPackages.map(i => {
          i.program_package_type = Number(val)
        })
      }
      // }
    },
    area: {
      handler (val) {
        if (val.__status !== 'loading') {
          this.programAreaOptions = val.areas.map(i => {
            return {
              label: i.area_name,
              value: Number(i.id)
            }
          })
        }
      },
      deep: true
    },
    programPackage: {
      handler (val) {
        if (val.__status !== 'loading') {
          this.programPackages = val.program_packages.map(i => {
            delete i.Program
            delete i.created_at
            delete i.updated_at
            return i
          })
        }
      },
      deep: true
    },
    program: {
      handler (val) {
        if (val.__status !== 'loading') {
          this.$q.loading.hide()
        }
      },
      deep: true
    }
  },
  methods: {
    removePackage (item) {
      if (confirm('Delete this item ? ')) {
        console.log('index', item)
        // this.programPackages = this.programPackages.filter(i => i.id !== item.id)
        this.programPackages.splice(item, 1)
      }
    },
    periodStart () {
      this.$refs.qDateProxy1.hide()
    },
    dateOptionsSemester1Fn (date) {
      const parts = date.split('/')
      return Number(parts[1]) <= 6
    },
    dateOptionsSemester2Fn (date) {
      const parts = date.split('/')
      return Number(parts[1]) >= 6
    },
    addPackage () {
      if (this.program_type) {
        let x = { ...defaultPackage }
        x.program_package_type = this.program_type
        this.programPackages.push(x)
      } else {
        this.$q.notify('please choose program type')
      }
    },
    onSubmit () {
      this.$q.loading.show()
      let programPackages = this.programPackages.length > 0 ? Object.assign([], this.programPackages).map(i => {
        if (i.program_package_type === 1) {
          i.program_package_reward_money = this.convertInputToNumber(i.program_package_reward_money)
        }
        return i
      }) : null

      let action = this.$route.params.id ? 'update' : 'store'
      let params = new FormData()
      if (this.$route.params.id) params.append('id', this.$route.params.id)
      params.append('program_name', this.program_name)
      params.append('area_id', this.area_id)
      params.append('program_period_start', this.program_period_start)
      params.append('program_period_finish', this.program_period_finish)
      params.append('program_description', this.program_description)
      params.append('program_term_condition', this.program_term_condition)
      params.append('program_growth', this.program_growth)
      params.append('program_dealer_type', this.program_dealer_type)
      params.append('program_semester', this.program_semester)
      params.append('program_type', this.program_type)
      params.append('program_roa', this.program_roa)
      params.append('program_fid', this.program_fid)
      params.append('program_status', this.program_status)

      if (this.program_picture) {
        console.log('program_picture ', this.program_picture)
        this.program_picture.forEach(i => {
          if (i.__status) {
            params.append('program_picture[]', i)
          } else {
            params.append('program_picture_old[]', i)
          }
        })

        if (
          this.program_picture.length === 0 &&
          this.removedFile.length > 0
        ) {
          this.removedFile.forEach(i => {
            params.append('program_picture[]', i)
          })
        }
      }

      programPackages.forEach((i, index) => {
        Object.keys(i).forEach((j, idx) => {
          // if (j !== 'id') {
          if (i[j]) {
            params.append(`packages[${index}].${j}`, i[j])
          }
          // }
        })
      })
      console.log('INI PARAMS', ...params)
      this.$store.dispatch('program/' + action, params)
    },
    // onSubmitcp () {
    //   let action = this.$route.params.id ? 'update' : 'store'
    //   let programPackages = this.programPackages.length > 0 ? Object.assign([], this.programPackages).map(i => {
    //     if (i.program_package_type === 1) {
    //       i.program_package_reward_money = this.convertInputToNumber(i.program_package_reward_money)
    //     }
    //     return i
    //   }) : null

    //   let params = {
    //     id: this.$route.params.id,
    //     program_name: this.program_name,
    //     area_id: this.area_id,
    //     program_period_start: this.program_period_start,
    //     program_period_finish: this.program_period_finish,
    //     program_description: this.program_description,
    //     program_term_condition: this.program_term_condition,
    //     program_growth: this.program_growth,
    //     program_dealer_type: this.program_dealer_type,
    //     program_semester: this.program_semester,
    //     program_type: this.program_type,
    //     program_roa: this.program_roa,
    //     program_fid: this.program_fid,
    //     program_status: this.program_status,
    //     packages: programPackages
    //   }
    //   console.log('INI PARAMS', params)
    //   this.$store.dispatch('program/' + action, params)
    // },
    onReset () {
      this.$store.commit('program/RESET')
    }
  }
}
</script>
