<template>
  <q-page padding>
    <div class="row flex-center">
      <q-form
        class="col-lg-4 col-xs-12 bg-white rounded-borders q-pa-md q-gutter-y-xs"
        @submit="onSubmit"
        @reset="onReset"
      >
        <q-select
          outlined
          square
          :rules="$validation('username', 'required')"
          label="username"
          v-model="user_id"
          :options="user.users"
          option-value="id"
          option-label="username"
          emit-value
          map-options
          class="select"
          :loading="user.__status === 'loading'"
        />
        <q-select
          outlined
          square
          :rules="$validation('program name', 'required')"
          label="program name"
          v-model="program_id"
          :options="program.programs"
          option-value="id"
          option-label="program_name"
          emit-value
          map-options
          class="select"
          :loading="program.__status === 'loading'"
        />
        <q-select
          outlined
          square
          :rules="$validation('program package name', 'required')"
          label="program package name"
          v-model="program_package_id"
          :options="programPackage.program_packages"
          option-value="id"
          option-label="program_package_name"
          emit-value
          map-options
          class="select"
          :loading="programPackage.__status === 'loading'"
        />
        <q-select
          outlined
          square
          :rules="$validation('id', 'required')"
          label="id"
          v-model="program_order_id"
          :options="programOrder.program_orders"
          option-value="id"
          option-label="id"
          emit-value
          map-options
          class="select"
          :loading="programOrder.__status === 'loading'"
        />
        <q-input
          outlined
          square
          :rules="$validation('Program Report Date', 'required')"
          v-model="program_report_date"
          mask="date"
          label="Program Report Date"
        >
          <template v-slot:append>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy
                ref="qDateProxy"
                transition-show="scale"
                transition-hide="scale"
              >
                <q-date
                  v-model="program_report_date"
                  @input="() => $refs.qDateProxy.hide()"
                />
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
        <q-input
          outlined
          square
          :rules="[]"
          v-model="program_report_total"
          label="Program Report total"
        />
        <q-input
          outlined
          square
          :rules="[]"
          v-model="program_report_fid"
          label="Program Report fid"
        />
        <div class="border bg-grey-1 q-mb-lg">
          <div class="q-px-sm q-mt-sm">
            Program Report Status
          </div>

          <q-option-group
            v-model="program_report_status"
            :options="programReportStatusOptions"
            inline
            type="radio"
          />
        </div>

        <div class="q-mt-lg">
          <ul
            v-if="__validation"
            class="bg-red-7 text-white q-pa-md list-none"
            style="list-style-type:none;"
          >
            <li class="q-mb-md">Error when submit form:</li>
            <li v-for="i in __validation" :key="i">- {{ i.message }}</li>
          </ul>
          <div class="row q-gutter-md">
            <q-btn
              label="Submit"
              type="submit"
              color="primary"
              class="col no-border-radius"
              unelevated
              :rules="[
                val => (val && val.length > 0) || 'Please type something'
              ]"
            />
            <q-btn
              label="Reset"
              type="reset"
              color="primary"
              flat
              class="col-3"
            />
          </div>
        </div>
      </q-form>
    </div>
  </q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { vuexSync } from 'boot/helpers'
export default {
  data () {
    return {
      programReportStatusOptions: [
        { label: 'Active', value: 1 },
        { label: 'Inactive', value: 0 }
      ]
    }
  },
  computed: {
    ...mapState([
      'programReport',
      'user',
      'program',
      'programPackage',
      'programOrder',
      'auth'
    ]),
    ...vuexSync('programReport', [
      'user_id',
      'program_id',
      'program_package_id',
      'program_order_id',
      'program_report_date',
      'program_report_total',
      'program_report_fid',
      'program_report_status',
      'true',
      'true',
      '__status',
      '__message',
      '__error',
      '__validation'
    ])
  },
  beforeCreate () {
    this.$store.commit('programReport/RESET')
  },
  created () {
    Object.assign(this.notify, {
      enable: true,
      success: true,
      redirect: status => {
        if (
          status === 'success_create_program_report' ||
          status === 'success_update_program_report'
        ) {
          this.$router.go(-1)
        }
      }
    })

    this.$store.dispatch('user/index', { show: 'all' })
    this.$store.dispatch('program/index', { show: 'all' })
    this.$store.dispatch('programPackage/index', { show: 'all' })
    this.$store.dispatch('programOrder/index', { show: 'all' })

    if (this.$route.params.id) {
      this.$store.dispatch('programReport/edit', { id: this.$route.params.id })
      // this.$store.commit('programReport/SET_RESPONSE', { id: this.$route.params.id })
    }

    if (this.auth.user_role < 4) {
      this.userRoleOptions = this.userRoleOptions.filter(
        i => Number(i.value) === Number(this.auth.user_role)
      )
    }
  },
  watch: {
    programReport: {
      handler (val) {
        if (val.__status !== 'loading') {
        }
      },
      deep: true
    }
  },
  methods: {
    mergeAuthAfterUserUpdate (val) {
      if (val.__status === 'success_update_user') {
        if (Number(val.id) === Number(this.auth.id)) {
          let newuser = Object.keys(val).filter(
            i =>
              i.indexOf('__') === -1 &&
              ![
                'users',
                'created_at',
                'updated_at',
                'location_detail',
                'user_status',
                'code',
                'parent'
              ].includes(i)
          )
          newuser.forEach(i => {
            this.$store.commit(`auth/SET_${i.toUpperCase()}`, val[i])
          })
        }
      }
    },

    ...mapActions({}),
    onSubmit () {
      let action = this.$route.params.id ? 'update' : 'store'
      let params = {
        id: this.$route.params.id,
        user_id: this.user_id,
        program_id: this.program_id,
        program_package_id: this.program_package_id,
        program_order_id: this.program_order_id,
        program_report_date: this.program_report_date,
        program_report_total: this.program_report_total,
        program_report_fid: this.program_report_fid,
        program_report_status: this.program_report_status
      }
      this.$store.dispatch('programReport/' + action, params)
    },
    onReset () {
      this.$store.commit('programReport/RESET')
    }
  }
}
</script>
