<template>
  <q-page class="q-pa-xl relative-position">

    <div class="flex column flex-center q-mt-xl">
      <div class="row q-gutter-md flex justify-center">
        <q-select
          outlined
          v-model="brand"
          :options="brandOptions"
          label="Brand"
          emit-value
          map-options
          class="select"
          square
          :loading="loadingBrand"
        />
        <q-select
          outlined
          v-model="model"
          :options="modelOptions"
          label="Model"
          emit-value
          map-options
          class="select"
          square
          :loading="loadingModel"
        />
        <q-select
          outlined
          v-model="type"
          :options="typeOptions"
          label="Type"
          emit-value
          map-options
          class="select"
          square
          :loading="loadingType"
        />
        <q-select
          outlined
          v-model="year"
          :options="yearOptions"
          label="Year"
          emit-value
          map-options
          class="select"
          square
          :loading="loadingYear"
        />
        <q-select
          outlined
          v-model="transmission"
          :options="transmissionOptions"
          label="Transmission"
          emit-value
          map-options
          class="select"
          square
          :loading="loadingTransmission"

        />
        <date-range-picker
              ref="picker"
              :opens="d.opens"
              :locale-data="{ firstDay: 1, format: 'DD-MM-YYYY' }"
              :showWeekNumbers="d.showWeekNumbers"
              :showDropdowns="d.showDropdowns"
              :autoApply="d.autoApply"
              :ranges="d.showCustomRangeLabel"
              :always-show-calendars="d.alwaysShowCalendar"
              v-model="dateRange"
      >
          <template v-slot:input="picker">
              <q-input outlined :value="displayDate(picker)" class="select" square clearable @clear="clearDatePicker">
                 <template v-slot:prepend>
                  <q-icon name="event" />
                </template>
              </q-input>
          </template>
      </date-range-picker>
        <!-- < q-btn label="search" @click="searchCar" unelevated outline class="" /> -->
      </div>

    <div v-if="loading" class="q-pa-sm"><q-spinner  size="sm">loading</q-spinner></div>

    <div v-if="data.length === 0" class="q-pa-xl text-center">

    </div>
    <div v-else class="full-width shadow-1 q-my-lg">
        <div class="q-pa-md bg-yellow-2 text-right">
        first scrap : {{new Intl.DateTimeFormat('en', { year: 'numeric', month: 'short', day: '2-digit' }).format(new Date(info.first_data))}} -
        last scrap : {{new Intl.DateTimeFormat('en', { year: 'numeric', month: 'short', day: '2-digit' }).format(new Date(info.last_data))}}
      </div>
        <vue-frappe
            id="test"
            :labels="label"
            :height="500"
            type="line"
            :axisOptions="axisOptions"
            :tooltipOptions="tooltipOptions"
            :colors="['purple', '#ffa3ef', 'light-blue']"
            :dataSets="data"
            :lineOptions="lineOptions"
            >
        </vue-frappe>
        </div>
      </div>

      <div v-if="tables.length !== 0">
      <span class="text-red text-center block q-pb-md ">{{calculateAvg()}}</span>
      <q-table
        no-data-label="I didn't find anything for you"
        :data="tables.data"
        :columns="tables.columns"
        :visible-columns="tables.visibleColumns"
        binary-state-sort
        :filter="filterSearchQTable"
        :sort-method="customSort"
        :pagination.sync="tables.pagination"
        class="shadow-lg"

      >

      <template v-slot:body-cell-car_id="props">
           <q-td
            :props="props"
            :align="props.col.align"
            :classes="props.col.classes"
          >
            <a @click.prevent="copy(`https://www.olx.co.id/item/ayla-x-at-2014-istimewa-iid-${props.row.car_id}`)" target="_blank">{{props.row.car_id}}</a>
          </q-td>
        </template>
      <template v-slot:body-cell-user_id="props">
           <q-td
            :props="props"
            :align="props.col.align"
            :classes="props.col.classes"
          >
            <!-- <a @click.prevent="copy(`https://www.olx.co.id/api/users/${props.row.user_id}`)" target="_blank">{{props.row.user_id}}</a> -->
            <a v-if="props.row.user_id" @click.prevent="copy(`https://www.olx.co.id/nf/chat/new/${props.row.car_id}/${props.row.user_id}`)" target="_blank">chat dengan penjual</a>
          </q-td>
        </template>

        <template v-slot:body-cell-price_average="props">
           <q-td
            :props="props"
            :align="props.col.align"
            :classes="props.col.classes"
          >
            {{ new Intl.NumberFormat('en-ID', { style: 'currency', currency: 'IDR' }).format(props.row.price_average) }}
          </q-td>
        </template>
        <template v-slot:body-cell-seller_type="props">
           <q-td
            :props="props"
            :align="props.col.align"
            :classes="props.col.classes"
          >
            {{props.row.seller_type ? props.row.seller_type.replace(/seller-type-/gi,'') : ''}}
          </q-td>
        </template>
        <template v-slot:body-cell-showtype="props">
           <q-td
            :props="props"
            :align="props.col.align"
            :classes="props.col.classes"
          >
            {{[props.row.showtype, props.row.color].join(' ')}}
          </q-td>
        </template>

        <template v-slot:body-cell-action="props" >
          <q-td
            :props="props"
            :align="props.col.align"
            :classes="props.col.classes"
          >
          <!-- {{auth.role}}---- -->
            <!-- <q-btn
              icon="edit"
              label="edit"
              class="text-xs q-pa-xs"
              color=""
              flat
              :to="{'path':`${$route.path}/form/${props.row.id}`}"
              dense
            /> -->
            <q-btn
              v-if="auth.role >= 3"
              icon="delete"
              label="delete"
              @click="destroy(props.row.id)"
              flat
              dense
            />
          </q-td>
        </template>
      </q-table>
      </div>

  </q-page>
</template>

<style>
.select {min-width: 200px;}
.reportrange-text{
  border:none !important;
  padding:0 !important;
}
</style>

<script>
import DateRangePicker from 'vue2-daterange-picker'
import moment from 'moment'
// you need to import the CSS manually (in case you want to override it)
import 'vue2-daterange-picker/dist/vue2-daterange-picker.css'
let API_URL = process.env.API_URL + '/'
import { mapState } from 'vuex'
export default {
  components: { DateRangePicker },
  name: 'PageIndex',
  data () {
    return {
      dateRange: {
        startDate: null,
        endDate: null
      },
      d: {
        opens: 'left',
        minDate: new Date(),
        maxDate: new Date(),
        singleDatePicker: false,
        timePicker: false,
        timePicker24Hour: false,
        showWeekNumbers: true,
        showDropdowns: true,
        autoApply: true,
        linkedCalendars: true,
        alwaysShowCalendar: false
        // showCustomRangeLabel: {
        //   // 'Lifetime': [moment().subtract(5, 'years'), moment()],
        //   'Last Month': [moment().subtract(1, 'month').startOf('month'), moment()],
        //   'Last 3 Month': [moment().subtract(2, 'month').startOf('month'), moment()],
        //   'Last Year': [moment().subtract(1, 'years').format('YYYY-MM-DD'), moment()]
        //   // 'Today': [moment(), moment()],
        //   // 'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        //   // 'This Week': [moment().startOf('week'), moment()],
        //   // 'This Month': [moment().startOf('month'), moment().endOf('month')],
        //   // 'Past month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
        //   // 'Past Week': [moment().subtract(1, 'weeks').startOf('weeks'), moment().subtract(1, 'weeks').endOf('weeks')]
        // }
      },
      filterSearchQTable: '',
      slide: 1,
      label: [],
      tables: [],
      info: null,
      loading: false,
      loadingBrand: false,
      loadingModel: false,
      loadingType: false,
      loadingTransmission: false,
      loadingYear: false,
      lineOptions: {
        dotSize: 4,
        hideLine: 0,
        heatline: 1,
        regionFill: 1
      },
      tooltipOptions: {
        formatTooltipX: d => {
          // console.log('tooltip x', d)
          return d
        },
        formatTooltipY: d => new Intl.NumberFormat('en-ID', { style: 'currency', currency: 'IDR' }).format(d)
      },
      axisOptions: {
        xAxisMode: 'tick',
        shortenYAxisNumbers: true
      },
      data: [],
      brandOptions: [],
      modelOptions: [],
      typeOptions: [],
      transmissionOptions: [],
      yearOptions: [],
      brand: 'toyota',
      model: '',
      type: '',
      year: '',
      transmission: ''
    }
  },
  created () {
  },
  mounted () {
    this.loadBrand()
  },
  methods: {
    clearDatePicker () {
      this.dateRange.startDate = null
      this.dateRange.endDate = null
    },
    destroy (id) {
      this.$q.dialog({
        title: 'Confirm',
        message: 'Apakah anda yakin ingin menghapus data ini ?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.$store.dispatch('car/destroy', { id })
      }).onCancel(() => {
      })
    },
    copy (str) {
      // Create new element
      var el = document.createElement('textarea')
      // Set value (string to be copied)
      el.value = str
      // Set non-editable to avoid focus and move outside of view
      el.setAttribute('readonly', '')
      el.style = { position: 'absolute', left: '-9999px' }
      document.body.appendChild(el)
      // Select text inside element
      el.select()
      // Copy text to clipboard
      document.execCommand('copy')
      // Remove temporary element
      document.body.removeChild(el)
      this.$q.notify('link copied')
    },
    calculateAvg () {
      // let totalAvg = new Intl.NumberFormat('en-ID', { style: 'currency', currency: 'IDR' }).format(Math.round(this.tables.data.map(i => i.price_average).reduce((a, b) => a + b) / this.tables.data.length))
      let getPrice = this.tables.data.map(i => i.price_average)
      let getDate = this.tables.data.map(i => new Date(i.display_date))
      let minDate = Math.min.apply(null, getDate)
      let maxDate = Math.max.apply(null, getDate)
      // console.log('mindate ', getDate, minDate)
      let minPrice = new Intl.NumberFormat('en-ID', { style: 'currency', currency: 'IDR' }).format(Math.min(...getPrice))
      let maxPrice = new Intl.NumberFormat('en-ID', { style: 'currency', currency: 'IDR' }).format(Math.max(...getPrice))
      let carType = this.type.replace(/\d/gi, '').replace(/-{1,2}/gi, ' ')
      // let dateRange = `${moment(this.dateRange.startDate).format('D MMM YYYY')} - ${moment(this.dateRange.endDate).format('D MMM YYYY')}`
      let dateRange = (getDate.length > 1) ? `${moment(minDate).format('D MMM YYYY')} - ${moment(maxDate).format('D MMM YYYY')}` : moment(minDate).format('D MMM YYYY')
      let showPrice = (getPrice.length > 1) ? `antara ${minPrice} - ${maxPrice}` : `sekitar ${minPrice}`
      return `Harga ${carType} ${this.year} periode ${dateRange} ${showPrice}`
    },
    displayDate (picker) {
      if (picker.startDate) {
        return `${moment(picker.startDate).format('DD MMM YY')} - ${moment(picker.endDate).format('DD MMM YY')}`
      } else {
        return 'Choose Date'
      }
    },
    updateValues () {
    },
    checkOpen () {
    },
    searchCar () {
      this.loadChart()
    },
    async loadTable () {
      this.loadingTable = true
      let res = await fetch(`${API_URL}get-table`)
      let result = await res.json()
      this.tables = result.result
      this.loadingTable = false
    },
    async loadBrand () {
      // let queryString = new URLSearchParams({ brand: this.type }).toString()
      this.loadingBrand = true
      let res = await fetch(`${API_URL}get-brand`)
      let result = await res.json()
      this.brandOptions = result
      this.loadingBrand = false
    },
    async loadModel () {
      let queryString = new URLSearchParams({ brand: this.brand }).toString()
      this.loadingModel = true
      let res = await fetch(`${API_URL}get-model?${queryString}`)
      let result = await res.json()
      this.modelOptions = result
      this.model = result[0].value
      this.loadingModel = false
    },
    async loadType () {
      console.log('load type ', this.model)
      let queryString = new URLSearchParams({ model: this.model }).toString()
      this.loadingType = true
      let res = await fetch(`${API_URL}get-type?${queryString}`)
      let result = await res.json()
      this.typeOptions = result.map(i => {
        i.label = i.label.replace(/\d/gi, '').replace(/-{1,2}/gi, ' ')
        return i
      })
      this.type = result[0].value
      this.loadingType = false
    },
    async loadYear () {
      let queryString = new URLSearchParams({ type: this.type }).toString()
      this.loadingYear = true
      let res = await fetch(`${API_URL}get-year?${queryString}`)
      let result = await res.json()
      this.yearOptions = result
      this.year = result[0].value
      this.loadingYear = false
    },
    async loadTransmission () {
      let queryString = new URLSearchParams({ type: this.type, year: this.year }).toString()
      this.loadingTransmission = true
      let res = await fetch(`${API_URL}get-transmission?${queryString}`)
      let result = await res.json()
      this.transmissionOptions = result
      // this.transmissionOptions = result.push({ label: 'all', value: 'all' })
      this.transmission = result[0].value
      this.loadingTransmission = false
    },
    async loadChart () {
      this.loading = true
      let startDate = moment(this.dateRange.startDate).format('YYYY-MM-DD')
      let endDate = moment(this.dateRange.endDate).format('YYYY-MM-DD')
      let params = { brand: this.brand, model: this.model, type: this.type, year: this.year, transmission: this.transmission, startDate, endDate }
      let queryString = new URLSearchParams(params).toString()
      let url = `${API_URL}get?${queryString}`
      // console.log('asdfasdfadsfadsf ', process.env.PROD, process.env.API_URL)
      // if (process.env.PROD) {
      // url = url.replace('/api', process.env.API_URL)
      // }

      let res = await fetch(url)
      let result = await res.json()
      this.label = result.label
      this.data = result.data
      this.tables = result.tables
      this.info = result.info
      this.loading = false
    },
    customSort (rows, sortBy, descending) {
      const data = [ ...rows ]

      if (sortBy) {
        data.sort((a, b) => {
          const x = descending ? b : a
          const y = descending ? a : b

          if (sortBy === 'name') {
            // string sort
            return x[sortBy] > y[sortBy] ? 1 : x[sortBy] < y[sortBy] ? -1 : 0
          } else if (sortBy === 'display_date') {
            a = new Date(x['display_date'])
            b = new Date(b.display_date)
            return a > b ? -1 : a < b ? 1 : 0
          } else {
            // numeric sort
            return parseFloat(x[sortBy]) - parseFloat(y[sortBy])
          }
        })
      }

      return data
    }
  },
  computed: {
    ...mapState(['car', 'auth']),
    search () {
      return [this.brand, this.model, this.type, this.year]
    }
  },
  watch: {
    car: {
      handler (val) {
        if (val.__status === 'success_destroy_car') {
          console.log('handler : ', val)
          this.dateRange = {
            startDate: moment().subtract(1, 'years').format('YYYY-MM-DD'),
            endDate: moment().format('YYYY-MM-DD')
          }
        }
      },
      deep: true
    },
    brand: {
      handler (val) {
        this.model = ''
        this.type = ''
        this.year = ''
        this.transmission = ''
        if (this.brand) this.loadModel()
      },
      immediate: true
    },
    model: {
      handler (val) {
        this.type = ''
        this.year = ''
        this.transmission = ''
        console.log('load type ', val)
        if (this.model) this.loadType()
      },
      immediate: false
    },
    type: {
      handler (val) {
        this.year = ''
        this.transmission = ''
        if (this.type) {
          this.loadYear()
        }
      },
      immediate: false
    },
    year: {
      handler (val) {
        this.transmission = ''
        if (this.year) this.loadTransmission()
      },
      immediate: false
    },
    transmission: {
      handler (val) {
        console.log('transmission change', val)
        let first = false
        if (!this.dateRange.startDate) {
          this.dateRange = {
            startDate: moment().subtract(1, 'years').format('YYYY-MM-DD'),
            endDate: moment().format('YYYY-MM-DD')
          }
          first = true
        }
        if (!first && this.dateRange.startDate) {
          this.loadChart()
        }
      },
      immediate: false
    },
    dateRange: {
      handler (val) {
        console.log('DATERANGE CHANNGE', val)
        if (val.startDate && val.endDate) {
          this.loadChart()
        }
      }
    }
    // search (val) {
    //   this.loadChart()
    // }
  }
}
</script>
