<template>
  <q-page padding>
    <div class="row flex-center">
      <q-form
        class="col-lg-4 col-xs-12 bg-white rounded-borders q-pa-md q-gutter-y-xs"
        @submit="onSubmit"
        @reset="onReset"
      >

        <q-select
          outlined
          square
          :rules="$validation('area name', 'required')"
          label="area name"
          v-model="area_id"
          :options="area.areas"
          option-value="id"
          option-label="area_name"
          emit-value
          map-options
          class="select"
          :loading="area.__status === 'loading'"
          :disable="auth.user_role <= 2"
        />
        <q-select
          outlined
          square
          :rules="$validation('branch name', 'required')"
          label="branch name"
          v-model="branch_id"
          :options="branch.branches"
          option-value="id"
          option-label="branch_name"
          emit-value
          map-options
          class="select"
          :loading="branch.__status === 'loading'"
          :disable="auth.user_role <= 2"
        />

        <div class="border bg-grey-1 q-mb-lg" v-if="auth.user_role > 2">
          <div class="q-px-sm q-mt-sm">
            Dealer Type
          </div>

          <q-option-group
            v-model="dealer_type"
            :options="dealerTypeOptions"
            inline
            type="radio"
            :disable="auth.user_role <= 2"
          />
        </div>
        <!-- <q-input
          outlined
          square
          :rules="$validation('Username', 'required')"
          v-model="username"
          label="Username"
        /> -->
        <q-input
          outlined
          square
          :rules="[]"
          v-model="dealer_name"
          label="Dealer Name"
          :disable="auth.user_role <= 2"
        />

        <q-input
          outlined
          square
          :rules="$validation('Email', 'required')"
          type="email"
          v-model="email"
          label="Email"
        />
          <q-input
          outlined
          square
          hint="leave the password blank if you don't want to change it"
          :rules="[]"
          v-model="password"
          label="Password"
          :type="isPwd ? 'password' : 'text'"
        >
          <template v-slot:append>
            <q-icon
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
            />
          </template>
        </q-input>

         <q-input
          outlined
          square
          :rules="[]"
          v-model="phone"
          label="Phone"
        />

        <!-- <q-uploader
          class="full-width q-mb-lg no-border-radius"
          :factory="files => onChangeFile(files, 'avatar', 'user')"
          auto-upload
          label="Upload avatar"
          accept=".jpg, image/*"
          flat
          bordered
          color="grey-6"
        >
          <template v-slot:header="scope">
            <div class="q-pa-sm text-right">
              <q-spinner v-if="scope.isUploading" class="q-uploader__spinner" />
              <q-btn
                v-if="scope.canAddFiles"
                type="a"
                icon="add_box"
                dense
                flat
                label="upload avatar "
              >
                <q-uploader-add-trigger />
                <q-tooltip>Pick Files</q-tooltip>
              </q-btn>
            </div>
          </template>
          <template v-slot:list>
            <q-list separator v-if="typeof avatar === 'object'">
              <q-item v-for="(file, key) in avatar" :key="key">
                <q-item-section>
                  <q-item-label class="full-width ellipsis">
                    {{ typeof file === "string" ? file : file.name }}
                  </q-item-label>
                </q-item-section>
                <q-item-section thumbnail>
                  <img
                    style="object-fit:contain;"
                    :src="
                      `${
                        typeof file === 'string'
                          ? file.indexOf('http') !== -1
                            ? file
                            : `${API_URL}/uploads/${file}`
                          : file.__img.src
                      }`
                    "
                  />
                </q-item-section>
                <q-item-section side>
                  <q-btn
                    class=""
                    size="12px"
                    flat
                    dense
                    round
                    icon="delete"
                    @click="removeFile(file, 'avatar', 'user')"
                  />
                </q-item-section>
              </q-item>
            </q-list>
          </template>
        </q-uploader> -->
        <div class="border bg-grey-1 q-mb-lg" :class="[auth.user_role <= 2 ? 'hidden':'']">
          <div class="q-px-sm q-mt-sm">
            User Status
          </div>

          <q-option-group
            v-model="user_status"
            :options="userStatusOptions"
            inline
            type="radio"
            :disable="auth.user_role <= 2"
          />
        </div>
        <div class="border bg-grey-1 q-mb-lg" :class="[auth.user_role <= 2 ? 'hidden':'']">
          <div class="q-px-sm q-mt-sm">
            User Role
          </div>

          <q-option-group
            v-model="user_role"
            :options="userRoleOptions"
            inline
            type="radio"
            :disable="auth.user_role <= 2"

          />
        </div>
        <!-- <q-input
          outlined
          square
          :rules="[]"
          type="number"
          v-model="parent"
          label="User Parent"
        /> -->
        <!-- <q-input
          outlined
          square
          :rules="[]"
          v-model="code"
          label="Verification Code"
        /> -->
        <q-input
          outlined
          square
          :rules="[]"
          v-model="group_code"
          label="Group Code"
          :disable="auth.user_role <= 2"
          :class="[auth.user_role <= 2 ? 'hidden':'']"
        />
        <!-- <div class="border bg-grey-1 q-mb-lg">
          <div class="q-px-sm q-mt-sm">
            Gender
          </div>

          <q-option-group
            v-model="gender"
            :options="genderOptions"
            inline
            type="radio"
          />
        </div> -->
        <div class="border bg-grey-1 q-mb-lg" :class="[auth.user_role <= 2 ? 'hidden':'']">
          <div class="q-px-sm q-mt-sm">
            Businnes Type
          </div>

          <q-option-group
            v-model="business_type"
            :options="businessTypeOptions"
            inline
            type="radio"
            :disable="auth.user_role <= 2"

          />
        </div>
        <q-input
          outlined
          square
          :rules="$validation('Birthdate', 'required|date')"
          v-model="birthdate"
          mask="date"
          label="Birthdate"
        >
          <template v-slot:append>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy
                ref="qDateProxy"
                transition-show="scale"
                transition-hide="scale"
              >
                <q-date
                  v-model="birthdate"
                  @input="() => $refs.qDateProxy.hide()"
                />
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
        <!-- <q-input
          outlined
          square
          :rules="[]"
          type="textarea"
          v-model="bio"
          label="Bio"
        /> -->

        <!-- <q-uploader
          class="full-width q-mb-lg no-border-radius"
          :factory="files => onChangeFile(files, 'cover', 'user')"
          auto-upload
          label="Upload cover"
          accept=".jpg, image/*"
          flat
          bordered
          color="grey-6"
        >
          <template v-slot:header="scope">
            <div class="q-pa-sm text-right">
              <q-spinner v-if="scope.isUploading" class="q-uploader__spinner" />
              <q-btn
                v-if="scope.canAddFiles"
                type="a"
                icon="add_box"
                dense
                flat
                label="upload cover "
              >
                <q-uploader-add-trigger />
                <q-tooltip>Pick Files</q-tooltip>
              </q-btn>
            </div>
          </template>
          <template v-slot:list>
            <q-list separator v-if="typeof cover === 'object'">
              <q-item v-for="(file, key) in cover" :key="key">
                <q-item-section>
                  <q-item-label class="full-width ellipsis">
                    {{ typeof file === "string" ? file : file.name }}
                  </q-item-label>
                </q-item-section>
                <q-item-section thumbnail>
                  <img
                    style="object-fit:contain;"
                    :src="
                      `${
                        typeof file === 'string'
                          ? file.indexOf('http') !== -1
                            ? file
                            : `${API_URL}/uploads/${file}`
                          : file.__img.src
                      }`
                    "
                  />
                </q-item-section>
                <q-item-section side>
                  <q-btn
                    class=""
                    size="12px"
                    flat
                    dense
                    round
                    icon="delete"
                    @click="removeFile(file, 'cover', 'user')"
                  />
                </q-item-section>
              </q-item>
            </q-list>
          </template>
        </q-uploader> -->
        <!-- <q-input
          outlined
          square
          :rules="[]"
          type="textarea"
          v-model="address"
          label="Address"
        /> -->

        <div class="q-mt-lg">
          <ul
            v-if="__validation"
            class="bg-red-7 text-white q-pa-md list-none"
            style="list-style-type:none;"
          >
            <li class="q-mb-md">Error when submit form:</li>
            <li v-for="i in __validation" :key="i">- {{ i.message }}</li>
          </ul>
          <div class="row q-gutter-md">
            <q-btn
              label="Submit"
              type="submit"
              color="primary"
              class="col no-border-radius"
              unelevated
              :rules="[
                val => (val && val.length > 0) || 'Please type something'
              ]"
            />
            <!-- <q-btn
              label="Reset"
              type="reset"
              color="primary"
              flat
              class="col-3"
            /> -->
          </div>
        </div>
      </q-form>
    </div>
  </q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { vuexSync } from 'boot/helpers'
export default {
  data () {
    return {
      isPwd: true,

      dealerTypeOptions: [
        { label: 'Brotherhood', value: 'RDR' },
        { label: 'Non Brotherhood', value: 'RCD' }
      ],
      userStatusOptions: [
        { label: 'Active', value: 1 },
        { label: 'Inactive', value: 0 }
      ],
      userRoleOptions: [
        { label: 'Dealer', value: 0 },
        { label: 'Admin', value: 2 },
        { label: 'Superuser', value: 4 }
      ],
      genderOptions: [
        { label: 'Male', value: 0 },
        { label: 'Female', value: 1 }
      ],
      businessTypeOptions: [
        { label: 'Dealer Mobil Bekas', value: 0 },
        { label: 'Dealer Mobil Baru', value: 1 },
        { label: 'Dealer Motor Bekas', value: 2 },
        { label: 'Dealer Motor Baru', value: 3 }
      ]
    }
  },
  computed: {
    ...mapState(['user', 'area', 'branch', 'auth']),
    ...vuexSync('user', [
      'area_id',
      'branch_id',
      'dealer_type',
      'username',
      'dealer_name',
      'password',
      'email',
      'avatar',
      'user_status',
      'user_role',
      'parent',
      'code',
      'group_code',
      'gender',
      'business_type',
      'birthdate',
      'phone',
      'bio',
      'cover',
      'address',
      'true',
      'true',
      '__status',
      '__message',
      '__error',
      '__validation'
    ]),

    avatar: {
      get () {
        let val = this.$store.state.user
        if (!val.avatar) {
          return []
        } else {
          if (typeof val.avatar === 'string') {
            return val.avatar.split(',')
          } else {
            return val.avatar
          }
        }
      },
      set () {}
    },

    cover: {
      get () {
        let val = this.$store.state.user
        if (!val.cover) {
          return []
        } else {
          if (typeof val.cover === 'string') {
            return val.cover.split(',')
          } else {
            return val.cover
          }
        }
      },
      set () {}
    }
  },
  beforeCreate () {
    this.$store.commit('user/RESET')
  },
  created () {
    Object.assign(this.notify, {
      enable: true,
      success: true,
      redirect: status => {
        if (
          status === 'success_create_user' ||
          status === 'success_update_user'
        ) {
          if (this.auth.user_role > 2) {
            this.$router.go(-1)
          }
        }
      }
    })

    this.$store.dispatch('area/index', { show: 'all' })

    if (this.$route.params.id) {
      this.$store.dispatch('user/edit', { id: this.$route.params.id })
      // this.$store.commit('user/SET_RESPONSE', { id: this.$route.params.id })
    }

    if (this.auth.user_role < 4) {
      this.userRoleOptions = this.userRoleOptions.filter(
        i => Number(i.value) === Number(this.auth.user_role)
      )
    }
  },
  watch: {
    user: {
      handler (val) {
        if (val.__status !== 'loading') {
          this.mergeAuthAfterUserUpdate(val)
        }
      },
      deep: true
    },

    area_id: {
      handler (newValue, oldValue) {
        if (oldValue) {
          this.branch_id = ''
        }
        let search = `branches.area_id:${newValue}:integer`
        this.$store.dispatch('branch/index', { search: search, show: 'all' })
      },
      deep: true
    }
  },
  methods: {
    mergeAuthAfterUserUpdate (val) {
      if (val.__status === 'success_update_user') {
        if (Number(val.id) === Number(this.auth.id)) {
          let newuser = Object.keys(val).filter(
            i =>
              i.indexOf('__') === -1 &&
              [
                'dealer_name'
              ].includes(i)
          )
          console.log('new user', newuser)
          newuser.forEach(i => {
            this.$store.commit(`auth/SET_${i.toUpperCase()}`, val[i])
          })
        }
      }
    },

    ...mapActions({}),
    onSubmit () {
      let action = this.$route.params.id ? 'update' : 'store'
      let params = new FormData()
      if (this.$route.params.id) params.append('id', this.$route.params.id)
      params.append('area_id', this.area_id)
      params.append('branch_id', this.branch_id)
      params.append('dealer_type', this.dealer_type)
      params.append('username', this.username)
      params.append('dealer_name', this.dealer_name)
      if (this.password) {
        params.append('password', this.password)
      }
      params.append('email', this.email)

      params.append('user_status', this.user_status)
      params.append('user_role', this.user_role)
      params.append('parent', this.parent)
      params.append('code', this.code)
      params.append('group_code', this.group_code)
      params.append('gender', this.gender)
      params.append('business_type', this.business_type)
      params.append('birthdate', this.birthdate)
      params.append('phone', this.phone)
      params.append('bio', this.bio)

      params.append('address', this.address)

      if (this.avatar) {
        this.avatar.forEach(i => {
          if (i instanceof File) {
            params.append('avatar[]', i)
          } else {
            params.append('avatar_old[]', i)
          }
        })

        console.log('xxxxx', this.avatar, this.removedFile)
        if (this.avatar && this.removedFile.length > 0) {
          this.removedFile.forEach(i => {
            params.append('avatar[]', i)
          })
        }
      }

      if (this.cover) {
        this.cover.forEach(i => {
          if (i instanceof File) {
            params.append('cover[]', i)
          } else {
            params.append('cover_old[]', i)
          }
        })

        if (this.cover.length === 0 && this.removedFile.length > 0) {
          this.removedFile.forEach(i => {
            params.append('cover[]', i)
          })
        }
      }

      this.$store.dispatch('user/' + action, params)
    },
    onReset () {
      this.$store.commit('user/RESET')
    }
  }
}
</script>
